{% load static %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
        <link rel="stylesheet" href="{% static 'client/plugins/fontawesome-free/css/all.min.css' %}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="{% static 'client/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'client/dist/css/adminlte.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    {% endblock %}
    {% block js %}
    {% endblock js %}
</head>
<body {% block body_css %}class="hold-transition login-page"{% endblock %}>
{% block main %}
{% endblock main %}
{% block bottom_js %}
    <script src="{% static 'client/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'client/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'client/dist/js/adminlte.min.js' %}"></script>
{% endblock %}
</body>
</html>
