{% extends "client/main_base.html" %}{% load static %}
{% block title %}亚电新能源 | 充值用户面板{% endblock %}
{% block css %}
    <style>
        .login-page {
            height: 400px;
            background: inherit;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="login-page">
        <div class="login-box">
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">重置密码</p>

                    <form  method="post">{% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ request.session.user_id }}">
                        <div class="input-group mb-4">
                            <input type="password" name="password" id="id_password" class="form-control" placeholder="新密码" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-4">
                            <input type="password" name="password1" id="id_password1" class="form-control" placeholder="重输一次密码" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">密码重置</button>
                            </div>
                        </div>
                    </form>
                    <p class="mt-3 mb-1">
                        <span class="text-danger">{{ msg }}</span>
                    </p>
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
    </div>
{% endblock content %}