{% extends 'wxchat/base.html' %}{% load static %}
{% block extra %}
    {% include 'wxchat/include/jssdk.html' %}
    <script type="text/javascript">
    wx.ready(function () {
        $('#recharge').on('click',function(){
        wx.scanQRCode({
                    needResult: 0,
                    scanType: ["qrCode","barCode"],
                    success: function (res) {
                        var result = res.resultStr;
                        console.log(result);
                    }
        });
    });
    });
    </script>
    <style>
    .h100{
        height: 100vh;
    }
    </style>
{% endblock extra%}
{% block container %}
    <div class="valign-wrapper h100">
        <div class="row">
            <div class="col s12 center-align">
                <a id="recharge" class="btn waves-effect waves-light pink">
                  扫描充电<i class="material-icons left">battery_charging_full</i>
                </a>
            </div>
        </div>
    </div>
{% endblock container %}
