<div class="form-container">
    <form id="id_form" method="post" action="{{ action }}">{% csrf_token %}
    <div class="col-sm-12 form-horizontal">
        <div class="panel panel-default fieldset unsort no_title">
            <div class="panel-heading"><i class="icon fa fa-chevron-up chevron"></i>
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body ">
                <div class="form-group">
                    <div class="control-label" for="{{ form.card.id_for_label }}">{{ form.card.label }}</div>
                    <div class="controls">
                        {{ form.card }}
                        <span class="text-danger">{{ form.card.errors.0 }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label" for="{{ form.user.id_for_label }}">{{ form.user.label }}</div>
                    <div class="controls">
                        {{ form.user }}
                        <span class="text-danger">{{ form.user.errors.0 }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label" for="{{ form.money.id_for_label }}">{{ form.money.label }}</div>
                    <div class="controls">
                        <div class="input-group">
                            {{ form.money }}
                            <div class="input-group-addon">元</div>
                        </div>
                        <span class="text-danger">{{ form.money.errors.0 }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>