<!DOCTYPE html>{% load static %}
<html style="font-size: 96px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>生意参谋大数据可视化HTML模板</title>
    <script type="text/javascript" src="{% static 'weixin/js/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'statistic/css/comon0.css' %}">
</head>

<body>
    <div class="loading" style="display: none;">
        <div class="loadbox"> <img src="{% static 'statistic/images/loading.gif' %}"> 页面加载中... </div>
    </div>
    <div class="head">
        <h1>亚电新能源充电桩可视化数据大屏</h1>
    </div>
    <div class="mainbox">
        <ul class="clearfix">
            <li>
                <div class="boxall" >
                    <div class="alltitle">今日充电次数(次)</div>
                    <div id="id_today_counts" style="height: 3.0rem;width:100%;"></div>
                    <div class="boxfoot"></div>
                </div>
                <div class="boxall">
                    <div class="alltitle">今日充电量(KWH)</div>
                    <div id="id_today_readings" style="height: 3.0rem; width: 100%"></div>
                    <div class="boxfoot"></div>
                </div>
                <div class="boxall">
                    <div class="alltitle">今日充电金额(元)</div>
                    <div id="id_today_money" style="height: 3.0rem; width: 100%;"></div>
                    <div class="boxfoot"></div>
                </div>
            </li>
            <li>
                <div class="bar">
                    <div class="barbox">
                        <ul class="clearfix">
                            <li class="pulll_left counter" id="id_accum_counts">0</li>
                            <li class="pulll_left counter" id="id_accum_readings">0</li>
                        </ul>
                    </div>
                    <div class="barbox2">
                        <ul class="clearfix">
                            <li class="pulll_left">累计充电次数(次)</li>
                            <li class="pulll_left">累计充电电量(千瓦时)</li>
                        </ul>
                    </div>
                </div>
                <div class="bar">
                    <div class="barbox">
                        <ul class="clearfix">
                            <li class="pulll_left counter" id="id_device_counts">0</li>
                            <li class="pulll_left counter" id="id_realtime_power">0</li>
                        </ul>
                    </div>
                    <div class="barbox2">
                        <ul class="clearfix">
                            <li class="pulll_left">充电桩总数(个)</li>
                            <li class="pulll_left">实时充电功率(千瓦)</li>
                        </ul>
                    </div>
                </div>
                <div class="map">
                    <div class="map1"><img src="{% static 'statistic/images/lbx.png' %}"></div>
                    <div class="map2"><img src="{% static 'statistic/images/jt.png' %}"></div>
                    <div class="map3"><img src="{% static 'statistic/images/map.png' %}"></div>
                    <div class="map4" id="map_1"  style="-webkit-tap-highlight-color: transparent; user-select: none;">
                        <div style="position: relative; overflow: hidden; width: 1378px; height: 672px; padding: 0px; margin: 0px; border-width: 0px;">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="boxall" style="height:5.2rem">
                    <div class="alltitle">新增会员信息</div>
                    <div class="tabs">
                        <ul class="clearfix">
                            <li><a class="active" href="http://v.bootstrapmb.com/2019/4/ewa0u4160/#">7天</a></li>
                            <li><a href="http://v.bootstrapmb.com/2019/4/ewa0u4160/#">15天</a></li>
                            <li><a href="http://v.bootstrapmb.com/2019/4/ewa0u4160/#">30天</a></li>
                        </ul>
                    </div>
                    <div class="clearfix">
                        <div class="sy" id="echarts6" style="-webkit-tap-highlight-color: transparent; user-select: none;">
                            <div style="position: relative; overflow: hidden; width: 145px; height: 211px; padding: 0px; margin: 0px; border-width: 0px;">
                                <canvas data-zr-dom-id="zr_0" width="145" height="211" style="position: absolute; left: 0px; top: 0px; width: 145px; height: 211px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                            </div>
                        </div>
                        <div class="sy" id="echarts7"   style="-webkit-tap-highlight-color: transparent; user-select: none;">
                            <div style="position: relative; overflow: hidden; width: 144px; height: 211px; padding: 0px; margin: 0px; border-width: 0px;">
                                <canvas data-zr-dom-id="zr_0" width="144" height="211" style="position: absolute; left: 0px; top: 0px; width: 144px; height: 211px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                            </div>
                        </div>
                        <div class="sy" id="echarts8"  style="-webkit-tap-highlight-color: transparent; user-select: none;">
                            <div style="position: relative; overflow: hidden; width: 145px; height: 211px; padding: 0px; margin: 0px; border-width: 0px;">
                                <canvas data-zr-dom-id="zr_0" width="145" height="211" style="position: absolute; left: 0px; top: 0px; width: 145px; height: 211px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="addnew">
                        <div class="tit02"><span>今日新增会员列表</span></div>
                        <div class="adduser">
                            <ul class="clearfix" style="margin-top: -1.5rem;">
                                <li class="clearfix"> <span class="pulll_left"><img
                                            src="./images/head.jpg">1今日新增会员列表</span> <span class="pulll_right">24岁 - 女 -
                                        广州 </span> </li>
                                <li class="clearfix"> <span class="pulll_left"><img
                                            src="./images/head.jpg">2今日新增会员列表</span> <span class="pulll_right">24岁 - 女 -
                                        广州 </span> </li>
                                <li class="clearfix"> <span class="pulll_left"><img
                                            src="./images/head.jpg">3今日新增会员列表</span> <span class="pulll_right">24岁 - 女 -
                                        广州 </span> </li>
                                <li class="clearfix"> <span class="pulll_left"><img
                                            src="./images/head.jpg">4今日新增会员列表</span> <span class="pulll_right">24岁 - 女 -
                                        广州 </span> </li>

                                <li class="clearfix"> <span class="pulll_left"><img
                                            src="./images/head.jpg">1今日新增会员列表</span> <span class="pulll_right">24岁 - 女 -
                                        广州 </span> </li>
                                <li class="clearfix"> <span class="pulll_left"><img
                                            src="./images/head.jpg">2今日新增会员列表</span> <span class="pulll_right">24岁 - 女 -
                                        广州 </span> </li>
                                <li class="clearfix"> <span class="pulll_left"><img
                                            src="./images/head.jpg">3今日新增会员列表</span> <span class="pulll_right">24岁 - 女 -
                                        广州 </span> </li>
                                <li class="clearfix"> <span class="pulll_left"><img
                                            src="./images/head.jpg">4今日新增会员列表</span> <span class="pulll_right">24岁 - 女 -
                                        广州 </span> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="boxfoot"></div>
                </div>
                <div class="boxall" style="height: 3.4rem">
                    <div class="alltitle">实时消费记录</div>
                    <div class="wrap">
                        <ul style="margin-top: -0.52rem;">
                            <li>
                                <p>1李东梁-支付宝支付-120元-XXX门店</p>
                            </li>
                            <li>
                                <p>2李东梁-支付宝支付-120元-XXX门店</p>
                            </li>
                            <li>
                                <p>3李东梁-支付宝支付-120元-XXX门店</p>
                            </li>
                            <li>
                                <p>4李东梁-支付宝支付-120元-XXX门店</p>
                            </li>
                            <li>
                                <p>5李东梁-支付宝支付-120元-XXX门店</p>
                            </li>
                            <li>
                                <p>6李东梁-支付宝支付-120元-XXX门店</p>
                            </li>

                            <li>
                                <p>1李东梁-支付宝支付-120元-XXX门店</p>
                            </li>
                            <li>
                                <p>2李东梁-支付宝支付-120元-XXX门店</p>
                            </li>
                            <li>
                                <p>3李东梁-支付宝支付-120元-XXX门店</p>
                            </li>
                        </ul>
                    </div>
                    <div class="boxfoot"></div>
                </div>
            </li>
        </ul>

    </div>
    <div class="back"></div>
    <script language="JavaScript" src="{% static 'statistic/js/js.js' %}"></script>
    <script type="text/javascript" src="{% static 'statistic/js/echarts.js' %}"></script>
    <script type="text/javascript" src="{% static 'statistic/js/china.js' %}"></script>
    <script type="text/javascript" src="{% static 'statistic/js/area_echarts.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            get_charging_stats();
            get_realtime_power();
            today_count_stats();
            today_readings_stats();
            today_money_stats();
        })
        function get_charging_stats(){
            $.ajax({
              type: 'GET',
              url: '/stats/big_charging_stats/',
              dataType: 'json',
              timeout: 5000,
              success: function(data){
                $("#id_accum_counts").text(data.accum_counts);
                $("#id_accum_readings").text(data.accum_readings);
                $("#id_device_counts").text(data.device_counts);
                $('.counter').countUp();
                $("#id_accum_counts").removeClass("counter");
                $("#id_accum_readings").removeClass("counter");
                $("#id_device_counts").removeClass("counter");
              },
              error: function(error){
                console.log(JSON.stringify(error));
              }
            });
        }
        function get_realtime_power(){
            $.ajax({
              type: 'GET',
              url: '/stats/big_realtime_power/',
              dataType: 'json',
              timeout: 5000,
              success: function(data){
                console.log(JSON.stringify(data));
                $("#id_realtime_power").text(data.realtime_power);

                $('.counter').countUp();
                $("#id_realtime_power").removeClass("counter");
              },
              error: function(error){
                console.log(JSON.stringify(error));
              }
            });
        }
        setInterval(function (){
            get_charging_stats();
            get_realtime_power();
        }, 5000);

        var today_counts = echarts.init(document.getElementById('id_today_counts'), "dark");

        function today_count_stats(){
            $.ajax({
              type: 'GET',
              url: '/stats/big_today_count_stats/',
              dataType: 'json',
              timeout: 5000,
              success: function(data){
                console.log(JSON.stringify(data));
                var option = {
                        title: {
                            text: '今日充电次数曲线',
                            color: '#ffffff',
                        },
                        tooltip:{
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            }
                        },
                        legend: {
                            data:['今日', '昨日']
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap : false,
                            axisLabel:{
                                interval:1,
                            },
                            data: data.hour_list,
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [
                            {
                                name: '今日',
                                type: 'line',
                                smooth: true,
                                data: data.today_count,
                            },
                            {
                                name: '昨日',
                                type: 'line',
                                smooth: true,
                                data: data.yesterday_count,
                            }
                        ]
                    };
                today_counts.setOption(option);
              },
              error: function(error){
                console.log(JSON.stringify(error));
              }
            });
        }

        var today_readings = echarts.init(document.getElementById('id_today_readings'), "dark");

        function today_readings_stats(){
            $.ajax({
              type: 'GET',
              url: '/stats/big_today_readings_stats/',
              dataType: 'json',
              timeout: 5000,
              success: function(data){
                console.log(JSON.stringify(data));
                var option = {
                        title: {
                            text: '今日充电量曲线',
                            color: '#ffffff',
                        },
                        tooltip:{
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            }
                        },
                       grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        legend: {
                            data:['今日', '昨日']
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap : false,
                            axisLabel:{
                                interval:1,
                            },
                            data: data.hour_list,
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [
                            {
                                name: '今日',
                                type: 'line',
                                smooth: true,
                                data: data.today_readings,
                            },
                            {
                                name: '昨日',
                                type: 'line',
                                smooth: true,
                                data: data.yesterday_readings,
                            }
                        ]
                    };
                today_readings.setOption(option);
              },
              error: function(error){
                console.log(JSON.stringify(error));
              }
            });
        }

        var today_money = echarts.init(document.getElementById('id_today_money'), "dark");

        function today_money_stats(){
            $.ajax({
              type: 'GET',
              url: '/stats/big_today_money_stats/',
              dataType: 'json',
              timeout: 5000,
              success: function(data){
                console.log(JSON.stringify(data));
                var option = {
                        title: {
                            text: '今日充电金额曲线',
                        },
                        tooltip:{
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            }
                        },
                        legend: {
                            data:['今日', '昨日']
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap : false,
                            axisLabel:{
                                interval:1,
                            },
                            data: data.hour_list,
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [
                            {
                                name: '昨日',
                                type: 'line',
                                smooth: true,
                                data: data.yesterday_money,
                            },
                            {
                                name: '今日',
                                type: 'line',
                                smooth: true,
                                data: data.today_money,
                            },
                        ]
                    };
                today_money.setOption(option);
              },
              error: function(error){
                console.log(JSON.stringify(error));
              }
            });
        }


        $(document).ready(function () {
            today_counts.resize();
            today_readings.resize();
            today_money.resize();
            myChart6.resize();
            myChart7.resize();
            myChart8.resize();
        })
        window.addEventListener("resize", function () {
            today_counts.resize();
            today_readings.resize();
            today_money.resize();
            myChart7.resize();
            myChart8.resize();
        });
    </script>
    <script type="text/javascript">
        var v0 = 1000;
        var v1 = 353;
        var v2 = 178;
        var v3 = 68;

        var myChart6 = echarts.init(document.getElementById('echarts6'));
        option6 = {
            series: [{
                type: 'pie',
                radius: ['70%', '80%'],
                color: '#0088cc',
                label: {
                    normal: {
                        position: 'center'
                    }
                },
                data: [{
                    value: v1,
                    name: '新增会员',
                    label: {
                        normal: {
                            formatter: v1 + '',
                            textStyle: {
                                fontSize: 20,
                                color: '#fff',
                            }
                        }
                    }
                },
                {
                    value: v0,
                    name: '老会员',
                    label: {
                        normal: {
                            formatter: function (params) {
                                return '占比' + Math.round(v1 / v0 * 100) + '%'
                            },
                            textStyle: {
                                color: '#aaa',
                                fontSize: 12
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'rgba(255,255,255,.2)'
                        },
                        emphasis: {
                            color: '#fff'
                        }
                    },
                }]
            }]

        };

        var myChart7 = echarts.init(document.getElementById('echarts7'));
        option7 = {
            series: [{
                type: 'pie',
                radius: ['70%', '80%'],
                color: '#fccb00',
                label: {
                    normal: {
                        position: 'center'
                    }
                },
                data: [{
                    value: v2,
                    name: '新增领卡会员',
                    label: {
                        normal: {
                            formatter: v2 + '',
                            textStyle: {
                                fontSize: 20,
                                color: '#fff',
                            }
                        }
                    }
                },
                {
                    value: v0,
                    name: '总领卡会员',
                    label: {
                        normal: {
                            formatter: function (params) {
                                return '占比' + Math.round(v2 / v0 * 100) + '%'
                            },
                            textStyle: {
                                color: '#aaa',
                                fontSize: 12
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'rgba(255,255,255,.2)'
                        },
                        emphasis: {
                            color: '#fff'
                        }
                    },
                }]
            }]
        };


        var myChart8 = echarts.init(document.getElementById('echarts8'));
        option8 = {


            series: [{

                type: 'pie',
                radius: ['70%', '80%'],
                color: '#62b62f',
                label: {
                    normal: {
                        position: 'center'
                    }
                },
                data: [{
                    value: v3,
                    name: '女消费',
                    label: {
                        normal: {
                            formatter: v3 + '',
                            textStyle: {
                                fontSize: 20,
                                color: '#fff',
                            }
                        }
                    }
                }, {
                    value: v0,
                    name: '男消费',
                    label: {
                        normal: {
                            formatter: function (params) {
                                return '占比' + Math.round(v2 / v0 * 100) + '%'
                            },
                            textStyle: {
                                color: '#aaa',
                                fontSize: 12
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'rgba(255,255,255,.2)'
                        },
                        emphasis: {
                            color: '#fff'
                        }
                    },
                }]
            }]
        };
        setTimeout(function () {
            myChart6.setOption(option6);
            myChart7.setOption(option7);
            myChart8.setOption(option8);
        }, 500);

    </script>

    <script type="text/javascript" src="{% static 'statistic/js/jquery.waypoints.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'statistic/js/jquery.countup.min.js' %}"></script>
    <script type="text/javascript">
    </script>
</body>
</html>