<!DOCTYPE html>{% load static %}
<html style="font-size: 96px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>亚电新能源充电桩可视化数据大屏</title>
    <script type="text/javascript" src="{% static 'weixin/js/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'statistic/css/comon0.css' %}">
    <style>
        .StateTit {
            height: 37px;
            border-bottom: 1px dashed #404040;
            font-size: .18rem;
        }

        .StateBox span {
            float: left;
            line-height: .52rem;
            height: .52rem;
            color: #fff;
            overflow: hidden;
            text-overflow: ellipsis
        }

    .StateBox span:nth-child(1) {
        width: 50%;
    }

    .StateBox span:nth-child(2) {
        width: 25%;
    }

    .StateBox span:nth-child(3) {
        width: 25%;
    }

    .StateBox .fontInner {
        border-bottom: 1px dashed #404040;
    }
    .boxcontent{
        height: 3.0rem;
        width: 100%;
    }
    .title{
        font-size: .3rem;
        color: #ffeb7b;
        line-height: .6rem;
    }
    </style>
</head>

<body>
    <div class="loading" style="display: none;">
        <div class="loadbox"> <img src="{% static 'statistic/images/loading.gif' %}"> 页面加载中... </div>
    </div>
    <div class="head">
        <h1>亚电新能源充电桩可视化数据大屏</h1>
        <div class="weather"><span id="nowtime"></span></div>
    </div>
    <div class="mainbox">
        <ul class="clearfix">
            <li>
                <div class="boxall" >
                    <div class="alltitle">今日充电次数:  <span class="title" id="id_total_counts">0</span>次</div>
                    <div id="id_today_counts" class="boxcontent"></div>
                    <div class="boxfoot"></div>
                </div>

                <div class="boxall">
                    <div class="alltitle">充电站电桩统计</div>
                    <div class="wrap">
                        <div class="StateBox boxcontent">
                            <div class="StateTit"><span>充电站名称</span><span>直流桩(个)</span><span>交流桩(个)</span></div>
                            <div>
                                <ul class="line" id="id_device_stats">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="boxfoot"></div>
                </div>
{#                <div class="boxall">#}
{#                    <div class="alltitle">今日充电金额:  <span class="title" id="id_total_money">0</span>元</div>#}
{#                    <div id="id_today_money" class="boxcontent"></div>#}
{#                    <div class="boxfoot"></div>#}
{#                </div>#}
            </li>
            <li>
                <div class="bar">
                    <div class="barbox">
                        <ul class="clearfix">
                            <li class="pulll_left counter" id="id_accum_counts">0</li>
                            <li class="pulll_left counter" id="id_accum_readings">0</li>
                        </ul>
                    </div>
                    <div class="barbox2">
                        <ul class="clearfix">
                            <li class="pulll_left">累计充电次数(次)</li>
                            <li class="pulll_left">累计充电电量(千瓦时)</li>
                        </ul>
                    </div>
                </div>
                <div class="bar">
                    <div class="barbox">
                        <ul class="clearfix">
                            <li class="pulll_left counter" id="id_device_counts">0</li>
                            <li class="pulll_left counter" id="id_realtime_power">0</li>
                        </ul>
                    </div>
                    <div class="barbox2">
                        <ul class="clearfix">
                            <li class="pulll_left">充电桩总数(个)</li>
                            <li class="pulll_left">实时充电功率(千瓦)</li>
                        </ul>
                    </div>
                </div>

                <div class="boxall">
                    <div class="alltitle">今日充电金额:  <span class="title" id="id_total_money">0</span>元</div>
                    <div id="id_today_money" class="boxcontent"></div>
                    <div class="boxfoot"></div>
                </div>
{#                <div class="boxall">#}
{#                    <div class="alltitle">充电站收入统计</div>#}
{#                    <div class="wrap">#}
{#                        <div class="StateBox boxcontent">#}
{#                            <div class="StateTit"><span>充电站名称</span><span>本月累计(元)</span><span>本年累计(元)</span></div>#}
{#                            <div>#}
{#                                <ul class="line" id="id_money_stats">#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="boxfoot"></div>#}
{#                </div>#}
                <div class="map">
                    <div class="map1"><img src="{% static 'statistic/images/lbx.png' %}"></div>
                    <div class="map2"><img src="{% static 'statistic/images/jt.png' %}"></div>
                    <div class="map3"><img src="{% static 'statistic/images/map.png' %}"></div>
                    <div class="map4" id="map_1"  style="-webkit-tap-highlight-color: transparent; user-select: none;">
                        <div style="position: relative; overflow: hidden; width: 1378px; height: 672px; padding: 0px; margin: 0px; border-width: 0px;">
                        </div>
                    </div>
                </div>
            </li>
            <li>
               <div class="boxall" style="margin-top:.3rem">
                    <div class="alltitle">今日充电量:   <span class="title" id="id_total_readings">0</span>千瓦时</div>
                    <div id="id_today_readings" class="boxcontent"></div>
                    <div class="boxfoot"></div>
                </div>
{#                <div class="boxall" >#}
{#                    <div class="alltitle">今日充电电力   <span class="title" id="id_total_power">0</span>千瓦</div>#}
{#                    <div id="id_today_power" class="boxcontent"></div>#}
{#                    <div class="boxfoot"></div>#}
{#                </div>#}

                <div class="boxall">
                    <div class="alltitle">充电站收入统计</div>
                    <div class="wrap">
                        <div class="StateBox boxcontent">
                            <div class="StateTit"><span>充电站名称</span><span>本月累计(元)</span><span>本年累计(元)</span></div>
                            <div>
                                <ul class="line" id="id_money_stats">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="boxfoot"></div>
                </div>
            </li>
        </ul>

    </div>
    <div class="back"></div>
    <script language="JavaScript" src="{% static 'statistic/js/js.js' %}"></script>
    <script type="text/javascript" src="{% static 'statistic/js/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'statistic/js/china.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'statistic/js/area_echarts.js' %}"></script>#}
    <script type="text/javascript">
        $(function() {
            get_charging_stats();
            get_realtime_power();
            today_count_stats();
            today_readings_stats();
            today_money_stats();
            today_power_stats();
            station_device_stats();
            station_money_stats();
        })
        function get_charging_stats(){
            $.ajax({
              type: 'GET',
              url: '/stats/big_charging_stats/',
              dataType: 'json',
              timeout: 5000,
              success: function(data){
                $("#id_accum_counts").text(data.accum_counts);
                $("#id_accum_readings").text(data.accum_readings.toFixed(2));
                $("#id_device_counts").text(data.device_counts);
                $('.counter').countUp();
                $("#id_accum_counts").removeClass("counter");
                $("#id_accum_readings").removeClass("counter");
                $("#id_device_counts").removeClass("counter");
              },
              error: function(error){
                console.log(JSON.stringify(error));
              }
            });
        }
        function get_realtime_power(){
            $.ajax({
              type: 'GET',
              url: '/stats/big_realtime_power/',
              dataType: 'json',
              timeout: 5000,
              success: function(data){
                console.log(JSON.stringify(data));
                $("#id_realtime_power").text(data.realtime_power);

                $('.counter').countUp();
                $("#id_realtime_power").removeClass("counter");
              },
              error: function(error){
                console.log(JSON.stringify(error));
              }
            });
        }
        setInterval(function (){
            get_charging_stats();
            get_realtime_power();
            today_count_stats();
            today_readings_stats();
            today_money_stats();
            today_power_stats();
            station_device_stats();
            station_money_stats()
        }, 20000);

        var today_counts = echarts.init(document.getElementById('id_today_counts'));

        function today_count_stats(){
            $.ajax({
              type: 'GET',
              url: '/stats/big_today_count_stats/',
              dataType: 'json',
              timeout: 5000,
              success: function(data){
                {#console.log(JSON.stringify(data));#}
                $("#id_total_counts").text(data.total_count);
                var option = {
                        title: {
                            text: '今日充电次数曲线(次)',
                            textStyle: {
                              color: '#ffffff',
                              fontSize: 16,
                            }
                        },
                        tooltip:{
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            }
                        },
                        legend: {
                            data:['今日', '昨日'],
                            x: 'right',
                            textStyle:{
                                color: '#ffffff',
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap : false,
                            axisLabel:{
                                interval:1,
                                color: '#ffffff',
                            },
                            axisLine:{
                                lineStyle:{
                                    color: '#ffffff',
                                },
                            },
                            data: data.hour_list,
                        },
                        yAxis: {
                            type: 'value',
                            axisLabel:{
                                interval:1,
                                color: '#ffffff',
                            },
                            axisLine:{
                                lineStyle:{
                                    color: '#ffffff',
                                },
                            },
                        },
                        series: [
                            {
                                name: '昨日',
                                type: 'line',
                                smooth: true,
                                itemStyle:{
                                  color: '#ffffff',
                                },
                                data: data.yesterday_count,
                            },
                            {
                                name: '今日',
                                type: 'line',
                                smooth: true,
                                 itemStyle:{
                                  color: '#ff5346',
                                },
                                data: data.today_count,
                            },
                        ]
                    };
                today_counts.setOption(option);
              },
              error: function(error){
                console.log(JSON.stringify(error));
              }
            });
        }

        var today_readings = echarts.init(document.getElementById('id_today_readings'));

        function today_readings_stats(){
            $.ajax({
              type: 'GET',
              url: '/stats/big_today_readings_stats/',
              dataType: 'json',
              timeout: 5000,
              success: function(data){
                {#console.log(JSON.stringify(data));#}
                $("#id_total_readings").text(data.total_readings);
                var option = {
                        title: {
                            text: '今日充电量曲线(KWH)',
                            textStyle: {
                              color: '#ffffff',
                              fontSize: 16,
                            }
                        },
                        tooltip:{
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            }
                        },
                       grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        legend: {
                            data:['今日', '昨日'],
                             x: 'right',
                            textStyle:{
                                color: '#ffffff',
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap : false,
                            axisLabel:{
                                interval:1,
                                color: '#ffffff',
                            },
                            axisLine:{
                                lineStyle:{
                                    color: '#ffffff',
                                },
                            },
                            data: data.hour_list,
                        },
                        yAxis: {
                            type: 'value',
                            axisLabel:{
                                interval:1,
                                color: '#ffffff',
                            },
                            axisLine:{
                                lineStyle:{
                                    color: '#ffffff',
                                },
                            },
                        },
                        series: [
                            {
                                name: '昨日',
                                type: 'line',
                                smooth: true,
                                itemStyle:{
                                  color: '#ffffff',
                                },
                                data: data.yesterday_readings,
                            },
                            {
                                name: '今日',
                                type: 'line',
                                smooth: true,
                                itemStyle:{
                                  color: '#ff5346',
                                },
                                data: data.today_readings,
                            },
                        ]
                    };
                today_readings.setOption(option);
              },
              error: function(error){
                console.log(JSON.stringify(error));
              }
            });
        }

        var today_money = echarts.init(document.getElementById('id_today_money'));

        function today_money_stats(){
            $.ajax({
              type: 'GET',
              url: '/stats/big_today_money_stats/',
              dataType: 'json',
              timeout: 5000,
              success: function(data){
                {#console.log(JSON.stringify(data));#}
                $("#id_total_money").text(data.total_money);
                var option = {
                        title: {
                            text: '今日充电金额曲线(元)',
                            textStyle: {
                              color: '#ffffff',
                              fontSize: 16,
                            }
                        },
                        tooltip:{
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            }
                        },
                        legend: {
                            data:['今日', '昨日'],
                             x: 'right',
                            textStyle:{
                                color: '#ffffff',
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap : false,
                            axisLabel:{
                                interval:1,
                                color: '#ffffff',
                            },
                            axisLine:{
                                lineStyle:{
                                    color: '#ffffff',
                                },
                            },
                            data: data.hour_list,
                        },
                        yAxis: {
                            type: 'value',
                            axisLabel:{
                                interval:1,
                                color: '#ffffff',
                            },
                            axisLine:{
                                lineStyle:{
                                    color: '#ffffff',
                                },
                            },
                        },
                        series: [
                            {
                                name: '昨日',
                                type: 'line',
                                smooth: true,
                                itemStyle:{
                                  color: '#ffffff',
                                },
                                data: data.yesterday_money,
                            },
                            {
                                name: '今日',
                                type: 'line',
                                smooth: true,
                                itemStyle:{
                                  color: '#ff5346',
                                },
                                data: data.today_money,
                            },
                        ]
                    };
                today_money.setOption(option);
              },
              error: function(error){
                console.log(JSON.stringify(error));
              }
            });
        }

        var today_power = echarts.init(document.getElementById('id_today_power'));

        function today_power_stats(){
            $.ajax({
              type: 'GET',
              url: '/stats/big_today_power_stats/',
              dataType: 'json',
              timeout: 5000,
              success: function(data){
                console.log(JSON.stringify(data));
                $("#id_total_power").text(data.total_power);
                var option = {
                        title: {
                            text: '今日充电电力曲线(KW)',
                            textStyle: {
                              color: '#ffffff',
                              fontSize: 16,
                            }
                        },
                        tooltip:{
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            }
                        },
                        legend: {
                            data:['今日', '昨日'],
                             x: 'right',
                            textStyle:{
                                color: '#ffffff',
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap : false,
                            axisLabel:{
                                interval:1,
                                color: '#ffffff',
                            },
                            axisLine:{
                                lineStyle:{
                                    color: '#ffffff',
                                },
                            },
                            data: data.hour_list,
                        },
                        yAxis: {
                            type: 'value',
                            axisLabel:{
                                interval:1,
                                color: '#ffffff',
                            },
                            axisLine:{
                                lineStyle:{
                                    color: '#ffffff',
                                },
                            },
                        },
                        series: [
                            {
                                name: '昨日',
                                type: 'line',
                                smooth: true,
                                itemStyle:{
                                  color: '#ffffff',
                                },
                                data: data.yesterday_power,
                            },
                            {
                                name: '今日',
                                type: 'line',
                                smooth: true,
                                itemStyle:{
                                  color: '#ff5346',
                                },
                                data: data.today_power,
                            },
                        ]
                    };
                today_power.setOption(option);
              },
              error: function(error){
                console.log(JSON.stringify(error));
              }
            });
        }
        $(document).ready(function () {
            today_counts.resize();
            today_readings.resize();
            today_money.resize();
            today_power.resize();
        });
        window.addEventListener("resize", function () {
            today_counts.resize();
            today_readings.resize();
            today_money.resize();
            today_power.resize();
        });

        function station_device_stats(){
            $.ajax({
              type: 'GET',
              url: '/stats/big_device_stats/',
              dataType: 'json',
              timeout: 5000,
              success: function(data){
                {#console.log(JSON.stringify(data));#}
                $("#id_device_stats").find("li").remove();
                $.each(data, function (index, item) {

                    $("#id_device_stats").append(`<li>
                                                     <span>${item.station__name}</span><span>${item.dc_device}</span><span>${item.ac_device}</span>
                                                </li>`);
                })
              },
              error: function(error){
                console.log(JSON.stringify(error));

              }
            });
        }

        function station_money_stats(){
            $.ajax({
              type: 'GET',
              url: '/stats/big_current_month_year_stats/',
              dataType: 'json',
              timeout: 5000,
              success: function(data){
                {#console.log(JSON.stringify(data));#}
                $("#id_money_stats").find("li").remove();
                $.each(data, function (index, item) {

                    $("#id_money_stats").append(`<li>
                                                     <span>${item.station_name}</span><span>${item.month_money.toFixed(2)}</span><span>${item.year_money.toFixed(2)}</span>
                                                </li>`);
                })
              },
              error: function(error){
                console.log(JSON.stringify(error));

              }
            });
        }
    </script>

    <script type="text/javascript" src="{% static 'statistic/js/jquery.waypoints.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'statistic/js/jquery.countup.min.js' %}"></script>
    <script type="text/javascript">
    </script>
</body>
</html>