{% extends "xadmin/base_site.html" %}
{% load i18n %}
{% load xadmin_tags %}
{% block extrastyle %}
    <style>
    .form-group{
        margin-left:0px;
        margin-right:0px;
    }
    tfoot tr{
        background-color:#e7e7e7;
    }
    tfoot tr td{
        font-weight: bold;
    }
    </style>
{% endblock %}
{% block content-nav %}
    <nav class="navbar navbar-default">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">

         <form class="navbar-form navbar-left">
             <div class="form-group" >
                <input type="text" id="s_date" class="form-control" placeholder="查询时间">
            </div>
             <div class="form-group selectize-control" >
                <select id="category" class="selectize-input" style="min-width:200px">
                  <option value="1">按运营商</option>
                  <option value="2">按充电站</option>
                  <option value="3">按充电桩</option>
                </select>
            </div>
             <button type="button" id="btn_search" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>  查 询</button>
          </form>
        </div><!-- /.navbar-collapse -->
    </nav>
{% endblock %}
{% block content %}

    <div class="panel panel-default widget list" id="stations">
        <div class="panel-heading"><i class="icon fa fa-chevron-up chevron"></i>
            <h3 class="panel-title"><i class="fa fa-align-justify"></i> 日统计信息列表</h3>
        </div>
      <div class="panel-body nopadding x-scroll" id="stats">

      </div>
    </div>
<script>
        $(function() {

            $("#s_date").datepicker({
                format: "yyyy-mm-dd",
                language: "zh-CN",
                autoclose: true,
            });

            $("#btn_search").on("click", function(event){
                var s_date = $("#s_date").val();
                var category = $("#category").val();
                var params = {
                    "s_date": s_date,
                    "category": category,
                };
                getStatsData(params);
            });

            function getStatsData(params){
                var category = params.category;
                $("#stats").empty();
                $.ajax({
                      type: 'GET',
                      url: '{% url "order-day-analysis" %}',
                      dataType: 'json',
                      data: params,
                      timeout: 5000,
                      success: function(data){
                          console.log(JSON.stringify(data));
                          if(category == "1") {
                              var temp = seller_template(data)
                              $("#stats").append(temp);
                          }else if(category=="2"){
                              var temp = station_template(data)
                              $("#stats").append(temp);
                          }else if(category=="3"){
                              var temp = pile_template(data)
                              $("#stats").append(temp);
                          }
                      },
                      complete: function(){
                      },
                      error: function(error){

                      }
                });
            }

        });
   var seller_template = data => `
	<table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>序号</th><th>运营商</th><th>充电总量(KWH)</th><th>充电次数(次)</th><th>充电时长(小时)</th><th>充电收入(元)</th><th>服务费(元)</th>
            </tr>
          </thead>
          <tbody>
         ${ data.results.map((seller, index) => `
          <tr>
              <td>${ index + 1 }</a></td>
              <td>${ seller.seller_name }</td>
              <td>${ seller.readings.toFixed(2) }</td>
              <td>${ seller.counts }</td>
              <td>${ seller.times&&seller.times.toFixed(2)||0 }</td>
              <td>${ seller.total_fees.toFixed(2) }</td>
              <td>${ seller.service_fees.toFixed(2) }</td>
          </tr>
		  `).join('')}
          </tbody>
            <tfoot>
                <tr>
                  <td></td><td> 合计 </td><td>${ data.readings.toFixed(2) }</td><td>${ data.counts }</td><td>${ data.times&&data.times.toFixed(2)||0 }</td><td>${ data.total_fees.toFixed(2) }</td><td>${ data.service_fees.toFixed(2) }</td>
                </tr>
            </tfoot>
        </table>
 `;
var station_template = data => `
	<table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>序号</th><th>充电站</th><th>充电总量(KWH)</th><th>充电次数(次)</th><th>充电时长(小时)</th><th>充电收入(元)</th><th>服务费(元)</th>
            </tr>
          </thead>
          <tbody>
         ${ data.results.map((station,index) => `
          <tr>
              <td>${ index + 1 }</a></td>
              <td>${ station.station_name }</td>
              <td>${ station.readings.toFixed(2) }</td>
              <td>${ station.counts }</td>
              <td>${ station.times&&station.times.toFixed(2)||0 }</td>
              <td>${ station.total_fees.toFixed(2) }</td>
              <td>${ station.service_fees.toFixed(2) }</td>
          </tr>
		  `).join('')}
          </tbody>
           <tfoot>
                <tr>
                  <td></td><td> 合计 </td><td>${ data.readings.toFixed(2) }</td><td>${ data.counts }</td><td>${ data.times&&data.times.toFixed(2)||0 }</td><td>${ data.total_fees.toFixed(2) }</td><td>${ data.service_fees.toFixed(2) }</td>
                </tr>
           </tfoot>
        </table>
 `;
   var pile_template = data => `
	<table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>序号</th><th>充电桩</th><th>充电总量(KWH)</th><th>充电次数(次)</th><th>充电时长(小时)</th><th>充电收入(元)</th><th>服务费(元)</th>
            </tr>
          </thead>
          <tbody>
         ${ data.results.map((pile,index) => `
          <tr>
              <td>${ index + 1 }</a></td>
              <td>${ pile.pile_name }</td>
              <td>${ pile.readings.toFixed(2) }</td>
              <td>${ pile.counts }</td>
              <td>${ pile.times&&pile.times.toFixed(2)||0 }</td>
              <td>${ pile.total_fees.toFixed(2) }</td>
              <td>${ pile.service_fees.toFixed(2) }</td>
          </tr>
		  `).join('')}
          </tbody>
          <tfoot>
                <tr>
                  <td></td><td> 合计 </td><td>${ data.readings.toFixed(2) }</td><td>${ data.counts }</td><td>${ data.times&&data.times.toFixed(2)||0 }</td><td>${ data.total_fees.toFixed(2) }</td><td>${ data.service_fees.toFixed(2) }</td>
                </tr>
           </tfoot>
        </table>
 `;
    </script>
{% endblock %}