<div class="row">
    <div class="col-sm-12 col-md-3  col-lg-3 mb-4">
          <div class="card gradient-45deg-blue-indigo text-white shadow min-height-100">
            <div class="card-body">
                <div>今日充电总量:<span class="pull-right"><em id="today_readings">0.00</em> KWH</span></div>
              <div>今日充电次数:<span class="pull-right"><em id="today_counts">0.00</em> 次</span></div>
              <div>今日充电收入:<span class="pull-right"><em id="today_total_fees">0.00</em> 元</span></div>
              <div>今日充电时长:<span class="pull-right"><em id="today_times">0.00</em> 小时</span></div>
            </div>
          </div>
    </div>
        <div class="col-sm-12 col-md-3 mb-4">
      <div class="card gradient-45deg-red-pink text-white shadow min-height-100">
        <div class="card-body">
          <div>昨日充电总量:<span class="pull-right"><em id="yesterday_readings">0.00</em> KWH</span></div>
          <div>昨日充电次数:<span class="pull-right"><em id="yesterday_counts">0.00</em> 次</span></div>
          <div>昨日充电收入:<span class="pull-right"><em id="yesterday_total_fees">0.00</em> 元</span></div>
          <div>昨日充电时长:<span class="pull-right"><em id="yesterday_times">0.00</em> 小时</span></div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 mb-4">
      <div class="card  gradient-45deg-amber-amber text-white min-height-100 shadow">
        <div class="card-body">
          <div>本月充电总量:<span class="pull-right"><em id="month_readings">0.00</em> KWH</span></div>
          <div>本月充电次数:<span class="pull-right"><em id="month_counts">0.00</em> 次</span></div>
          <div>本月充电收入:<span class="pull-right"><em id="month_total_fees">0.00</em> 元</span></div>
          <div>本月充电时长:<span class="pull-right"><em id="month_times">0.00</em> 小时</span></div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 mb-4">
      <div class="card gradient-45deg-green-teal text-white min-height-100 shadow">
        <div class="card-body">
          <div>今年充电总量:<span class="pull-right"><em id="year_readings">0.00</em> KWH</span></div>
          <div>今年充电次数:<span class="pull-right"><em id="year_counts">0.00</em> 次</span></div>
          <div>今年充电收入:<span class="pull-right"><em id="year_total_fees">0.00</em> 元</span></div>
          <div>今年充电时长:<span class="pull-right"><em id="year_times">0.00</em> 小时</span></div>
        </div>
      </div>
    </div>
</div>
<div class="row">
<div class="col-sm-12 column">
    <!--故障枪口-->
    {% if fault_guns %}
    <div class="panel panel-default widget list" id="fault_gun">
        <div class="panel-heading"><i class="icon fa fa-chevron-up chevron"></i>
            <h3 class="panel-title"><i class="fa fa-align-justify"></i>故障枪口列表</h3>
        </div>
      <div class="panel-body nopadding x-scroll">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>充电桩</th><th>电桩SN</th><th>枪口</th><th>工作状态</th><th>充电状态</th><th>故障时间</th>
            </tr>
          </thead>
          <tbody>
          {% for gun in fault_guns %}
          <tr>
              <td>{{ gun.charg_pile }}</td>
              <td>{{ gun.charging_pile_sn}}</td>
              <td>{{ gun.gun_num}}</td>
              <td>{{ gun.get_work_status_display }}</td>
              <td>{{ gun.charg_status.name}}</td>
              <td>{{ gun.add_time }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
 <!--故障枪口结束-->
    <nav class="navbar navbar-default">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
{#            <ul class="nav navbar-nav">#}
{#            <li class="dropdown">#}
{#              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">请选择类别 <span class="caret"></span></a>#}
{#              <ul class="dropdown-menu">#}
{#                {% for station in stations  %}#}
{#                {% if forloop.counter > 1 %}#}
{#                <li role="separator" class="divider"></li>#}
{#                {% endif %}#}
{#                <li><a href="javascript:;" id="station_{{ station.id }}" data-item="{{ station.id }}">{{ station.name }}</a></li>#}
{#                {% endfor %}#}
{#              </ul>#}
{#            </li>#}
{#          </ul>#}
         <form class="navbar-form navbar-left">

            <div class="form-group">
                <input type="text" id="begin_time" class="form-control" placeholder="开始时间">
            </div>
            <div class="form-group" ><label>至</label></div>
             <div class="form-group" >
                <input type="text" id="end_time" class="form-control" placeholder="结束时间">
            </div>
             <div class="form-group selectize-control" >
                <select id="category" class="selectize-input" style="min-width:200px">
                  <option value="1">按运营商</option>
                  <option value="2">按充电站</option>
                  <option value="3">按充电桩</option>
                </select>
            </div>
             <button type="button" id="btn_search" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>  查 询</button>
          </form>
        </div><!-- /.navbar-collapse -->
    </nav>
    <div class="panel panel-default widget list" id="stations">
        <div class="panel-heading"><i class="icon fa fa-chevron-up chevron"></i>
            <h3 class="panel-title"><i class="fa fa-align-justify"></i>充电站列表</h3>
        </div>
      <div class="panel-body nopadding x-scroll">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>充电站名称</th><th>运营商</th><th>省市区</th><th>地址</th>
              <th>联系电话</th><th>收费标准</th><th>充电桩数量</th>
            </tr>
          </thead>
          <tbody id="station_lists">
          {% for station in stations %}
          <tr>
              <td><a href="./stationmanager/station/{{ station.id }}/update">{{ station.name }}</a></td>
              <td>{{ station.seller.name }}</td>
              <td>{{ station.province_city_district|default:'' }}</td>
              <td>{{ station.address|default:'' }}</td>
              <td>{{ station.telephone|default:''}}</td>
              <td>{{ station.fee_scale }}</td>
              <td><a href="javascript:;" id="sta_{{ station.id }}" data-item="{{ station.id }}">共：{{ station.pile_totals|default:0 }}</a></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default widget list hidden" id="piles">
        <div class="panel-heading"><i class="icon fa fa-chevron-up chevron"></i>
            <h3 class="panel-title"><i class="fa fa-align-justify"></i>充电桩列表</h3>
        </div>
      <div class="panel-body nopadding x-scroll">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>充电桩名称</th><th>SN编码</th><th>所属充电站</th><th>电桩类型</th>
              <th>电桩模式</th><th>运营属性</th><th>运行状态</th><th>订阅状态</th><th>订单详情</th>
            </tr>
          </thead>
          <tbody id="pile_lists">

          </tbody>
        </table>
      </div>
    </div>  
</div>
</div>
<script>
    $(function(){

        $("#begin_time, #end_time").datepicker({
            format: "yyyy-mm-dd",
            language: "zh-CN",
            autoclose: true,
        });

        getTodayStatsData();
        getYesterdayStatsData();
        getMonthStatsData();
        getYearStatsData();

        $("#btn_search").on("click", function(event){
            var pile_sn = $("#pile_sn").val();
            params = {
                "pile_sn":pile_sn
            }


            getPileList(params);
        })

        $("a[id^='station']").on("click", function(event){
            var params ={
                 "station_id": $(this).attr("data-item"),
             }
             $("#stations").addClass("hidden");
             $("#piles").removeClass("hidden");
             getPileList(params);
        })

        $("a[id^='sta_']").on("click", function(event){
            var params ={
                 "station_id": $(this).attr("data-item"),
             }
             $("#stations").addClass("hidden");
             $("#piles").removeClass("hidden");
             getPileList(params);
        })


    })

    function getPileList(params){
        $("#pile_lists").children().remove();
        $.ajax({
              type: 'GET',
              url: '{% url "charging-pile-list" %}',
              dataType: 'json',
              data: params,
              timeout: 5000,
              success: function(data){
                  appendItem(data);
              },
              error: function(error){

              }
        });
    }

    function appendItem(data){
{#        alert(JSON.stringify(data));#}
        $.each(data,function(index, item){
            var new_item = "<tr>" +
                        "<td><a href='./stationmanager/chargingpile/" + item.id +"/update'>" + item.name + "</a></td>" +
                        "<td>" + item.pile_sn + "</td>" +
                        "<td>" + item.station_name +"</td>" +
                        "<td>" + item.piletype +"</td>" +
                        "<td>" + item.pilemode +"</td>" +
                        "<td>" + item.businessmode +"</td>" +
                        "<td>" + item.get_work_status +"</td>" +
                        "<td>" + item.substatus +"</td>" +
                        "<td><a href='" + item.get_order_url +"'>电桩订单</a></td>" +
                        "<tr>"
            $("#pile_lists").append(new_item);
        })
    }

    function getTodayStatsData(){
        $.ajax({
              type: 'GET',
              url: '{% url "order-day-stats" %}',
              dataType: 'json',
              timeout: 5000,
              success: function(data){
                  console.log(JSON.stringify(data));
                $("#today_readings").text(data.readings.toFixed(2))
                $("#today_counts").text(data.counts)
                $("#today_total_fees").text(data.total_fees.toFixed(2))
                $("#today_times").text(data.times.toFixed(2))
              },
              error: function(error){
                    console.log(error);
              }
        });
    }
    function getYesterdayStatsData(){
       var params = {
            "flag": 1
        }
        $.ajax({
              type: 'GET',
              url: '{% url "order-day-stats" %}',
              dataType: 'json',
              data: params,
              timeout: 5000,
              success: function(data){
                  console.log(JSON.stringify(data));
                $("#yesterday_readings").text(data.readings.toFixed(2))
                $("#yesterday_counts").text(data.counts)
                $("#yesterday_total_fees").text(data.total_fees.toFixed(2))
                $("#yesterday_times").text(data.times.toFixed(2))
              },
              error: function(error){
                    console.log(error);
              }
        });
    }
    function getMonthStatsData(){
        $.ajax({
              type: 'GET',
              url: '{% url "order-month-stats" %}',
              dataType: 'json',
              timeout: 5000,
              success: function(data){
                  console.log(JSON.stringify(data));
                $("#month_readings").text(data.readings.toFixed(2))
                $("#month_counts").text(data.counts)
                $("#month_total_fees").text(data.total_fees.toFixed(2))
                $("#month_times").text(data.times.toFixed(2))
              },
              error: function(error){
                    console.log(error);
              }
        });
    }
    function getYearStatsData(){
        $.ajax({
              type: 'GET',
              url: '{% url "order-year-stats" %}',
              dataType: 'json',
              timeout: 5000,
              success: function(data){
                console.log(JSON.stringify(data));
                $("#year_readings").text(data.readings.toFixed(2))
                $("#year_counts").text(data.counts)
                $("#year_total_fees").text(data.total_fees.toFixed(2))
                $("#year_times").text(data.times.toFixed(2))
              },
              error: function(error){
                    console.log(error);
              }
        });
    }
</script>