<nav class="nav-wrapper">
        <div class="container">
          <a href="#" class="brand-logo">亚电新能源</a>
{#          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>#}
{#          <ul id="nav-mobile" class="right hide-on-med-and-down">#}
{#            <li><a href="#">充电状态</a></li>#}
{#            <li><a href="#">停止充电</a></li>#}
{#          </ul>#}
        </div>
</nav>
{#<ul class="sidenav" id="mobile-demo">#}
{#    <li><a href="#">充电状态</a></li>#}
{#    <li><a href="#">停止充电</a></li>#}
{#</ul>#}
