{% extends 'wxchat/base.html' %}{% load static %}
{% block extra %}
    <style>
        .container{
            width: 100%;
        }
        .progress{
            height: 28px;
            line-height: 28px;
            border-radius: 5px;
        }
        .determinate{
            text-align: center;
            border-radius: 5px;
            color:white;
        }
        .percent{
            position: absolute;
            width: 100%;
            left: 50%;
            top: 50%;
            text-align: center;
            color: white;
            transform: translate(-50%,-50%);
            -webkit-transition: width .3s linear;
            transition: width .3s linear;
    }
    #loader-wrapper {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        text-align: center;
        color: white;
        transform: translate(-50%,-50%);
        z-index: 1000;
    }
    .preloader-wrapper.big {
        width: 90px;
        height: 90px;
    }
    </style>
{% endblock extra%}
{% block container %}
    <div id="loader-wrapper">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                  <div class="circle"></div>
              </div>
              <div class="gap-patch">
                  <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
        </div>
    </div>

   {% if order %}
    <ul id="order-collection" class="collection z-depth-2 hide">
            <li class="collection-item avatar">
               <i class="material-icons cyan circle">assignment</i>
               <span class="title">{{ order.name }} [{{ order.get_charg_mode_display }}]</span>
               <p>{{ order.out_trade_no }}</p>
                <a href="#" id="id_stop" data-item="{{ order.out_trade_no }}" class="secondary-content waves-effect waves-light btn  red accent-2 ">停止</a>
            </li>
            <li class="collection-item co-item">
               <div class="row">
                  <div class="col s4 pad-top-5"><p class="title">工作状态</p></div>
                   <div class="col s8"><p class="cyan order-item"><span id="id_work_status">{{ order.get_work_status|default:'' }}</span></p></div>
               </div>
           </li>
           <li class="collection-item co-item">
               <div class="row">
                  <div class="col s4 pad-top-5"><p class="title">充电状态</p></div>
                   <div class="col s8"><p class="cyan order-item"><span id="id_charg_status">{{ order.charg_status.name|default:'' }}</span></p></div>
               </div>
           </li>
           <li class="collection-item co-item">
               <div class="row">
                  <div class="col s4 pad-top-5"><p class="title">电池电量SOC</p></div>
                   <div class="col s8">
                       <div class="progress cyan">
                           <div id="id_end_soc" class="determinate red accent-2" style="width: {{ order.end_soc|default:0}}%;"></div>
                           <span id="id_end_soc_show" class="percent">{{ order.end_soc|default:0}}%</span>
                       </div>
                   </div>
               </div>
           </li>
            <li class="collection-item co-item">
               <div class="row">
                  <div class="col s4 pad-top-5"><p class="title">实际充电时间</p></div>
                   <div class="col s8"><p class="cyan  order-item" ><span id="id_total_minutes">{{ order.total_minutes }}</span> 分钟</p></div>
               </div>
           </li>
           <li class="collection-item co-item">
               <div class="row">
                  <div class="col s4 pad-top-5"><p class="title">实际充电电量</p></div>
                   <div class="col s8"><p class="cyan order-item"><span id="id_total_reading">{{ order.get_total_reading }}</span> 度(KWH)</p></div>
               </div>
           </li>
            <li class="collection-item co-item">
               <div class="row">
                  <div class="col s4 pad-top-5"><p class="title">消费金额</p></div>
                  <div class="col s8"><p class="cyan order-item"><span id="id_consum_money">{{ order.consum_money }}</span> 元</p></div>
               </div>
           </li>
           {% with order.get_record as record %}
            <li class="collection-item co-item">
               <div class="row">
                  <div class="col s4 pad-top-5"><p class="title">充电所需电压</p></div>
                  <div class="col s8"><p class="cyan order-item"><span id="id_voltage">{{ record.voltage|default:0 }}</span> V</p></div>
               </div>
            </li>
            <li class="collection-item co-item">
               <div class="row">
                  <div class="col s4 pad-top-5"><p class="title">充电所需电流</p></div>
                  <div class="col s8"><p class="cyan order-item"><span id="id_current">{{ record.current|default:0 }}</span> A</p></div>
               </div>
            </li>
            <li class="collection-item co-item">
               <div class="row">
                  <div class="col s4 pad-top-5"><p class="title">实际输出电压</p></div>
                  <div class="col s8"><p class="cyan order-item"><span id="id_output_voltage">{{ record.output_voltage|default:0 }}</span> V</p></div>
               </div>
            </li>
            <li class="collection-item co-item">
               <div class="row">
                  <div class="col s4 pad-top-5"><p class="title">实际输出电流</p></div>
                  <div class="col s8"><p  class="cyan order-item"><span id="id_output_current">{{ record.output_current|default:0 }}</span> A</p></div>
               </div>
            </li>
            {% endwith %}
             <li class="collection-item co-item">
               <div class="row">
                  <div class="col s4 pad-top-5"><p class="title">订单状态</p></div>
                  <div class="col s8"><p  class="cyan order-item"><span id="id_order_status">{{ order.get_status_display|default:'' }}</span> </p></div>
               </div>
            </li>

        {% if order.charg_mode != 0 %}
           <li class="collection-item co-item">
               <div class="row">
                   {% if order.charg_mode == 1 %}
                   <div class="col s4 pad-top-5"><p class="title">按充电金额</p></div>
                   <div class="col s8"><p class="cyan order-item">{{ order.total_fee }} 元</p></div>
                   {% elif order.charg_mode == 2 %}
                   <div class="col s4 pad-top-5"><p class="title">按充电时间</p></div>
                   <div class="col s8"><p class="cyan order-item">{{ order.charg_min_val }} 分钟</p></div>
                   {% elif order.charg_mode == 3 %}
                   <div class="col s4 pad-top-5"><p class="title">按SOC值</p></div>
                   <div class="col s8"><p class="cyan order-item">{{ order.charg_soc_val }} %</p></div>
                   {% elif order.charg_mode == 4 %}
                   <div class="col s4 pad-top-5"><p class="title">按电量值</p></div>
                   <div class="col s8"><p class="cyan order-item">{{ order.charg_reading_val }} 度</p></div>
                   {% endif %}
               </div>
           </li>
         {% endif %}

       <li class="collection-item co-item">
           <div class="row">
              <div class="col s4 pad-top-5"><p class="title">开始时间</p></div>
              <div class="col s8"><p class="cyan order-item" id="id_begin_time">{{ order.begin_time|default:'' }}</p></div>
           </div>
       </li>
    </ul>

   {% else %}
     <div class="valign-wrapper" style="height: 100vh">
        <div class="row">
            <div class="card-panel teal">
                <p class="center-align"><i class="material-icons red-text size-10rem">highlight_off</i></p>
                <p class="center-align flow-text white-text">订单不存在或者有客户正在充电</p>
            </div>
        </div>
    </div>

    {% endif %}

{% endblock container %}
{% block bottomjs %}
{% if order %}
<script>
    $(document).ready(function(){
        $("#loader-wrapper").fadeOut(1000, function () {
            $("#order-collection").removeClass("hide");
        });
        console.log("ready...")
    })
    $(function () {
        console.log("function...")
        // Correctly decide between ws:// and wss://
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var ws_path = ws_scheme + '://' + window.location.host + "/ws/recharge/{{ order.charg_pile.pile_sn }}/{{ order.gun_num }}/";
        console.log("Connecting to " + ws_path);
        var socket = new ReconnectingWebSocket(ws_path);

        // Handle incoming messages
        socket.onmessage = function (message) {
            // Decode the JSON
            {#var msg = JSON.stringify( message);#}
            var data = JSON.parse( message.data);
            var msg = JSON.parse(data.message);
            console.log(msg);
            if(msg.cmd == "01"){            /*充电桩上报状态信息*/
                if(msg.return_code == "success"){
                    $("#id_work_status").text(msg.work_status);
                    $("#id_charg_status").text(msg.charg_status);
                }
            }
            else if(msg.cmd == "04"){           /*充电桩回复充电指令*/
                if(msg.return_code == "success"){

                    $("#id_charg_status").text(msg.charg_status);
                    $("#id_begin_time").text(msg.begin_time);
                }
                else{
                    M.toast({html: msg.message});
                    {#window.location.href = '{% url "order-errors" %}?errmsg=' + msg.errmsg#}
                }
            }
            else if(msg.cmd == "05"){               /*上报车辆信息*/
                if(msg.return_code == "success"){
                    $("#id_charg_status").text(msg.charg_status);
                    $("#id_order_status").text(msg.order_status);
                    $("#id_begin_time").text(msg.begin_time);
                    $("#id_end_soc").css("width", msg.begin_soc + "%");
                    $("#id_end_soc_show").text(msg.begin_soc + "%");
                    $("#id_stop").addClass("pulse");
                }
                else{
                     M.toast({html: msg.message});
                    {#window.location.href = '{% url "order-errors" %}?errmsg=' + msg.errmsg#}
                }
            }
            else if(msg.cmd == "06"){               /*充电中状态上报*/
                if(msg.return_code == "success"){
                    $("#id_order_status").text(msg.order_status);
                    $("#id_total_minutes").text(msg.total_minutes);
                    $("#id_total_reading").text(msg.total_reading);
                    $("#id_consum_money").text(msg.consum_money);
                    $("#id_voltage").text(msg.voltage);
                    $("#id_current").text(msg.current);
                    $("#id_output_voltage").text(msg.output_voltage);
                    $("#id_output_current").text(msg.output_current);
                    $("#id_end_soc").css("width", msg.current_soc + "%");
                    $("#id_end_soc_show").text(msg.current_soc + "%");
                }
            }
            else if(msg.cmd == "07"){
                if(msg.return_code == "success"){
                    $("#id_charg_status").text(msg.charg_status);
                    $("#id_order_status").text(msg.order_status);
                    $("#id_total_minutes").text(msg.total_minutes);
                    $("#id_total_reading").text(msg.total_reading);
                    $("#id_consum_money").text(msg.consum_money);
                    $("#id_voltage").text('0');
                    $("#id_current").text('0');
                    $("#id_output_voltage").text('0');
                    $("#id_output_current").text('0');
                    $("#id_loop").removeClass("pulse");
                    {#this.close();#}
                }
            }

        };
        // Helpful debugging
        socket.onopen = function () {
            console.log("Connected to chat socket");
        };
        socket.onclose = function () {
            console.log("Disconnected from chat socket");
        }
    });
    $("#id_stop").on("click", function () {
         $("#id_loop").removeClass("pulse");
        var out_trade_no = $(this).attr("data-item");
        var params = {
            out_trade_no: out_trade_no,
            pile_sn: '{{ order.charg_pile.pile_sn }}',
            gun_num: {{ order.gun_num }},
            csrfmiddlewaretoken: '{{ csrf_token }}',
        }
        $.ajax({
              type: 'POST',
              url: '{% url "order-charge-stop" %}',
              dataType: 'json',
              data: params,
              timeout: 5000,
              success: function(data){
                  {#alert(JSON.stringify(data));#}
                 if(data.return_code == "FAIL") {
                     M.toast({html: data.errmsg});
                 }
              },
              error: function(error){
                    M.toast({html: '停止充电失败!'});
              }
        });
    })
</script>
{% endif%}
{% endblock bottomjs %}
