{% extends 'wxchat/base.html' %}{% load static %}
{% block title %}充电桩充电{% endblock %}
{% block js %}
    <script src="{% static "js/reconnecting-websocket.min.js" %}" type="text/javascript"></script>
{% endblock js %}
{% block extra %}
    {% include 'wxchat/include/jssdk.html' %}
    <style>
    .btn{
        padding: 0 1.2rem!important;
    }
    </style>
{% endblock extra%}
{#{% block side_nav %}#}
{#    {% include "chargingorder/include/side_nav.html" %}#}
{#{% endblock side_nav %}#}
{% block container %}
     <div class="row">
        <div class="col s12 m4 l4">
            <div class="card gradient-45deg-light-blue-cyan gradient-shadow">
                <div class="card-content white-text">
                    <span class="card-title  activator"><i class="material-icons left">battery_charging_full</i>充满为止<i class="material-icons right">more_vert</i></span>
                    <p class="activator">充电前请保证账号上有足够余额。<br>当余额不足时，电桩将自动停止充电。</p>
                </div>
                <div class="card-reveal padding-bottom-0">
                  <span class="card-title grey-text text-darken-4">直接充电充满为止<i class="material-icons right">close</i></span>
                    <div class="row">
                       <div class="col s12 margin-top-1rem center-align">
                            <a class="waves-effect waves-light btn gradient-45deg-red-pink" id="full_recharge" data-item="0"><i class="material-icons left">cloud</i>开始充电</a>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card gradient-45deg-red-pink gradient-shadow">
                <div class="card-content white-text">
                    <span class="card-title  activator"><i class="material-icons left">battery_alert</i>按金额充电<i class="material-icons right">more_vert</i></span>
                    <p class="activator">充电桩根据输入的金额进行充电。<br>当金额消费完毕或者充满时，电桩自动结束充电</p>
                </div>
                <div class="card-reveal padding-bottom-0">
                  <span class="card-title">请输入充电金额<i class="material-icons right">close</i></span>
                  <div class="row margin-top-0rem">
                      <div class="input-field inline col s6 ">
                            <input id="total_fee" type="number" name="total_fee" class="validate">
                            <label for="total_fee">充电金额(元)</label>
                      </div>
                       <div class="col s6 margin-top-1rem">
                            <a class="waves-effect waves-light btn gradient-45deg-red-pink" id="money_recharge" data-item="1"><i class="material-icons left">settings_input_hdmi</i>充电</a>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card gradient-45deg-green-teal gradient-shadow">
                <div class="card-content white-text">
                    <span class="card-title activator">
                        <i class="material-icons left">battery_alert</i>按时间充电(min)<i class="material-icons right">more_vert</i></span>
                    <p class="activator">充电前请保证账号上有足够余额。<br>余额不足或者充满时，电桩自动停止充电。</p>
                </div>
                 <div class="card-reveal padding-bottom-0">
                      <span class="card-title activator grey-text text-darken-4">按时间充电(分钟)<i class="material-icons right">close</i></span>
                      <div class="row margin-top-0rem">
                          <div class="input-field inline col s6">
                                <input id="charg_min_val" type="number" name="charg_min_val" class="validate">
                                <label for="charg_min_val">充电时间(分钟)</label>
                          </div>
                           <div class="col s6 margin-top-1rem">
                                <a class="waves-effect waves-light btn gradient-45deg-red-pink" id="min_recharge" data-item="2"><i class="material-icons left">access_alarm</i>充电</a>
                           </div>
                      </div>
                </div>
            </div>
         </div>
         <div class="col s12 m4 l4">
            <div class="card gradient-45deg-deep-orange-orange gradient-shadow">
                <div class="card-content white-text">
                    <span class="card-title activator"><i class="material-icons left">battery_alert</i>按SOC充电<i class="material-icons right">more_vert</i></span>
                    <p class="activator">充电前请保证账号上有足够余额。<br>余额不足或充满时，电桩自动结束充电</p>
                </div>
                <div class="card-reveal padding-bottom-0">
                    <span class="card-title activator grey-text text-darken-4">按SOC充电<i class="material-icons right">close</i></span>
                    <div class="row margin-top-0rem">
                      <div class="input-field inline col s6 ">
                            <input id="charg_soc_val" type="number" name="charg_soc_val" class="validate">
                            <label for="charg_soc_val">SOC充电(%)</label>
                      </div>
                       <div class="col s6 margin-top-1rem">
                            <a class="waves-effect waves-light btn gradient-45deg-red-pink" id="soc_recharge" data-item="3"><i class="material-icons left">backup</i>充电</a>
                       </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
    <div id="myModal" class="modal bottom-sheet">
        <div class="modal-content">
            <h5>账户余额:{{ balance }}元</h5>
            <p>您的账户还剩下{{ balance }}元，为了不影响您继续充电，请您尽快充值</p>
        </div>
        <div class="modal-footer">
            <a href="{% url 'wxchat-order-pay' %}" class="modal-action modal-close waves-effect waves-green btn ">我要去充值</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">继续充电</a>
        </div>
    </div>
{% endblock container%}

{% block bottomjs %}
<script>
    $(document).ready(function(){
        // 充满为止
        $("#full_recharge").on("click", function (event) {
            var ret = delay_time();
            if(!ret) return;
            var charg_mode = $(this).attr("data-item");
            var params = {
                pile_sn: '{{ pile_sn }}',
                gun_num: '{{ gun_num }}',
                charg_mode: charg_mode,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }
            recharge(params);
        })
        // 按金额充电
         $("#money_recharge").on("click", function (event) {
            var ret = delay_time();
            if(!ret) return;
            var charg_mode = $(this).attr("data-item");
            var total_fee = $("#total_fee").val()||"0";
            if(total_fee=="0" || total_fee.length==0 )
            {
                M.toast({html: '请输入充电金额'});
                return;
            }
            var params = {
                pile_sn: '{{ pile_sn }}',
                gun_num: '{{ gun_num }}',
                charg_mode: charg_mode,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                total_fee: total_fee,
            }
            recharge(params);
        })
        // 按时间充电
         $("#min_recharge").on("click", function (event) {
            var ret = delay_time();
            if(!ret) return;
            var charg_mode = $(this).attr("data-item");
            var charg_min_val = $("#charg_min_val").val()||"0";
            if(charg_min_val=="0" || charg_min_val.length==0 )
            {
                M.toast({html: '请输入充电时间'});
                return;
            }
            var params = {
                pile_sn: '{{ pile_sn }}',
                gun_num: '{{ gun_num }}',
                charg_mode: charg_mode,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                charg_min_val: charg_min_val,
            }
            recharge(params);
        })
         // 按时间充电
         $("#soc_recharge").on("click", function (event) {
            var ret = delay_time();
            if(!ret) return;
            var charg_mode = $(this).attr("data-item");
            var charg_soc_val = $("#charg_soc_val").val()||"0";
             if(charg_soc_val=="0" || charg_soc_val.length==0 )
            {
                M.toast({html: '请输入充电SOC值'});
                return;
            }
            var params = {
                pile_sn: '{{ pile_sn }}',
                gun_num: '{{ gun_num }}',
                charg_mode: charg_mode,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                charg_soc_val: charg_soc_val,
            }
            recharge(params);
        })

        $('#myModal').modal({
            dismissible: true, // 点击模态外面模态消失关闭
            opacity: .5, // 相对于背景的不透明度
            in_duration: 300, // 显示特效的时间
            out_duration: 200, // 消失特效时间
            starting_top: '4%', // 启动时的样式属性
            ending_top: '10%', // 结束时的样式属性
            ready: function(modal, trigger) { // 模态加载完成触发事件
            },
            complete: function() {

            } // 关闭时触发的事件
        });
        let balance = {{ balance }};
        if( balance <=15 ){
            $('#myModal').modal('open');
        }
      });

    function recharge(params){
        $.ajax({
              type: 'POST',
              url: '{% url "order-recharge" %}',
              dataType: 'json',
              data: params,
              timeout: 5000,
              success: function(data){
                 if(data.return_code == "fail") {
                     M.toast({html: data.errmsg});
                 } else if( data.return_code == "success" ){
                     window.location.replace(data.redirect_url) ;
                 }
              },
              error: function(error){
                    M.toast({html: '充电失败!'});
              }
        });
    }
    function delay_time(){
        var ts = sessionStorage.getItem('recharge');
        if(ts==null) {
           sessionStorage.setItem('recharge', new Date().getTime());
        }
       else{
           var cur_ts = new Date().getTime();
           var diff = (cur_ts - Number(ts))/1000;
           if(diff < 20 ){
               M.toast({html: '您刚才已经提交过，如果没有成功请20秒后再提交!'});
                return false;
           }
           sessionStorage.setItem('recharge', cur_ts);
       }
       return true;
    }
    </script>
{% endblock bottomjs %}