<table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>退款单号</th>
          <th>客户姓名</th>
          <th>原订单编号</th>
          <th>订单金额(元)</th>
          <th>退款金额(元)</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      {% for refund in refund_list %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{ refund.out_refund_no }}</td>
          <td>{{ refund.user_refund.name }}</td>
          <td>{{ refund.out_trade_no }}</td>
          <td>{{ refund.total_fee }}</td>
          <td>{{ refund.refund_fee }}</td>
          <td>
              <button class="btn btn-primary btn-xs refund-btn" data-item="{{ refund.id }}">退款</button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
</table>
<script>
    $(function () {
        $(".refund-btn").click(function (event) {
            var button = $(event.target);
            var id = button.attr('data-item');
            console.log(id);
            var params ={
                id: id,
                csrfmiddlewaretoken:'{{ csrf_token }}',
            };
            console.log(params)
            $.ajax({
                type: 'POST',
                url: "{% url 'wxchat-refund' %}",
                dataType: 'json',
                data: params,
                timeout: 5000,
                success: function(data){
                    console.log(JSON.stringify(data));
                    if(data.status_code === 201){
                        alert(data.message)
                    }else{
                        alert(data.errmsg)
                    }
                },
                complete: function(){
                },
                error: function(error){

                }
            });
        });
    })
</script>