<!DOCTYPE html>
<html class="" lang="zh-cmn-Hans"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="Baiduspider" content="noarchive">
    <meta name="format-detection" content="telephone=no">
    
    
    <meta http-equiv="cleartype" content="on">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>充电信息</title>
    
  <link rel="stylesheet" onerror="_cdnFallback(this)" href="css/base.css" media="screen">

</head>
  <body ontouchstart="ontouchstart" class="">

    
  <div class="app-content"><!----><div class="u-setting__loading van-loading van-loading--circular van-loading" style="color: rgb(201, 201, 201); display: none;"><span class="van-loading__spinner van-loading__spinner--circular"><svg viewBox="25 25 50 50" class="van-loading__circular"><circle cx="50" cy="50" r="20" fill="none"></circle></svg></span></div><h2 class="block-header">充电信息</h2><div class="van-cell-group van-hairline--top-bottom"><div class="base-info-cell"><!----><!----><!----><!----><!----><!----></div>
		
		
		
		
<div class="coupon-section__list">
	
	
	<div class="coupon-item-container"><div class="coupon-item"><div class="coupon-item__container"><div class="coupon-item__left coupon-item__block">
	<div class="avatar-image-wrapper"><div class="avatar-image" style="background-image: url(&quot;images/logo.jpg&quot;); width: 60px; height: 60px;"></div><img src="images/logo.jpg"></div>
	</div><div class="coupon-item__block coupon-item__center"><div class="coupon-item__center-title ellipsis"><span class="coupon-item__title-tag"></span>
        FOREST [充满为止]
      </div><div class="coupon-item__center-time">
        C0345346477865756
      </div></div><div class="coupon-item__right coupon-item__block"><div class="coupon-item__action1">
       停止
      </div></div></div></div></div>
	  
	  
	  
	  <div style="text-align:center;">
	
		
		<div class="bing">
		<canvas id="myCanvas1" data-percent="88">您的浏览器不支持canvas标签。</canvas>
<div style="display:block;position:absolute;top:40%;left:50%;width:0rem;text-align:center; width:90px; margin-left:-45px;"><span style="font-size:2.0rem;font-family:microsoft Yahei" id="dushu" >0</span><p style="font-size:14px; line-height:160%;">电池电量SOC</p></div>
</div>

</div></div>
		
		
		<div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell">
        <div class="van-cell__title"><span>工作状态</span>
        </div>
        <div class="van-cell__value van-ellipsis">
		
		<div class="coupon-item__action" style="text-align:left; padding-left:20px;">
        空闲
      </div>
	  
	  </div>
        </div><!----></div></div>
		
		
		
		<div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell" >
        <div class="van-cell__title"><span>充电状态</span>
        </div>
        <div class="van-cell__value van-ellipsis">
		
		<div class="coupon-item__action" style="text-align:left; padding-left:20px;">
        空闲
      </div>
	  
	  </div>
        </div><!----></div></div>
		
		
		

		
		
		
		
		<div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell">
        <div class="van-cell__title"><span>实际充电时间</span>
        </div>
        <div class="van-cell__value van-ellipsis">
		
		<div class="coupon-item__action">
        0分钟
      </div>
	  
	  </div>
        </div><!----></div></div>
		
		
		
		
		
		
		
		<div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell">
        <div class="van-cell__title"><span>实际充电电量</span>
        </div>
        <div class="van-cell__value van-ellipsis">
		
		<div class="coupon-item__action">
        0度(KWH)
      </div>
	  
	  </div>
        </div><!----></div></div>
		
		
		
		
		
		
		
		<div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell">
        <div class="van-cell__title"><span>消费金额</span>
        </div>
        <div class="van-cell__value van-ellipsis">
		
		<div class="coupon-item__action" style="text-align:left; padding-left:20px;">
       0.00元
      </div>
	  
	  </div>
        </div><!----></div></div>
		
		
		
		
		
		
		
		<div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell">
        <div class="van-cell__title"><span>充电所需电压</span>
        </div>
        <div class="van-cell__value van-ellipsis">
		
		<div class="coupon-item__action" style="text-align:left; padding-left:20px;">
         0V
      </div>
	  
	  </div>
        </div><!----></div></div>
		
		
		
		
		
		
		
		<div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell">
        <div class="van-cell__title"><span>充电所需电流</span>
        </div>
        <div class="van-cell__value van-ellipsis">
		
		<div class="coupon-item__action" style="text-align:left; padding-left:20px;">
        0A
      </div>
	  
	  </div>
        </div><!----></div></div>
		
		
		
		
		
		
		
		<div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell">
        <div class="van-cell__title"><span>实际输出电压</span>
        </div>
        <div class="van-cell__value van-ellipsis">
		
		<div class="coupon-item__action" style="text-align:left; padding-left:20px;">
         0V
      </div>
	  
	  </div>
        </div><!----></div></div>
		
		
		
		
		
		
		
		<div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell">
        <div class="van-cell__title"><span>实际输出电流</span>
        </div>
        <div class="van-cell__value van-ellipsis">
		
		<div class="coupon-item__action" style="text-align:left; padding-left:20px;">
       0A
      </div>
	  
	  </div>
        </div><!----></div></div>
		
		
		
		
		
		
		
		<div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell">
        <div class="van-cell__title"><span>订单状态</span>
        </div>
        <div class="van-cell__value van-ellipsis">
		
		<div class="coupon-item__action" style="text-align:left; padding-left:20px;">
        空
      </div>
	  
	  </div>
        </div><!----></div></div>
		
		
		
		
		
		
		
		<div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell">
        <div class="van-cell__title"><span>开始时间</span>
        </div>
        <div class="van-cell__value van-ellipsis">
		
		<div class="coupon-item__action">
              空</div>

	  
	  </div>
        </div><!----></div></div>
		
		
		
		
		
		
		
		<div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell">
        <div class="van-cell__title"><span>电桩编码SN</span>
        </div>
        <div class="van-cell__value van-ellipsis">
		
		<div class="coupon-item__action" style="text-align:left; padding-left:20px;">
        AC1-P01-98766544
      </div>
	  
	  </div>
        </div><!----></div></div>
		
		
		
		
		
		
		
		<div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell">
        <div class="van-cell__title"><span>枪口号</span>
        </div>
        <div class="van-cell__value van-ellipsis">
		
		<div class="coupon-item__action" style="text-align:left; padding-left:20px;">
        1
      </div>
	  
	  </div>
        </div><!----></div></div>
		
		
		
		
		
		
		
		<div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell">
        <div class="van-cell__title"><span>工作状态</span>
        </div>
        <div class="van-cell__value van-ellipsis">
		
		<div class="coupon-item__action" style="text-align:left; padding-left:20px;">
        离线
      </div>
	  
	  </div>
        </div><!----></div></div>
		
		
		
		
		<div class="base-info-cell"><!---->
          <div class="address-info-cell"></div>
          <!----><!----><!----><!----><!----></div></div><!----><!----></div>

    
    
    <div class="footer">
  <div class="copyright">

      <div class="ft-links">
          <a href="#" class="">主页</a>
          <a href="#" class="js-open-follow">充电站</a>
          <a href="#" class="">用户中心</a>
          <a href="javascript:;" class="">关注我们</a>
      </div>

      <div class="ft-copyright">
      </div>
    
  </div>
</div>


    
    


<script type="text/javascript">    var pper=0;
var pper_interal;
var dushu=document.getElementById('dushu');
var aaa=drawCanvanPercent('myCanvas1','rem',3,'#30A393',1.5,'#fff');
function drawCanvanPercent(ele_id,dw,cir_r,cir_color,line_w,fill_color){
if(dw=="rem"){
cir_r=cir_r*(window.screen.width/10);
line_w=line_w*(window.screen.width/10);
}
var canvas = document.getElementById(ele_id);
var circle = {
r : cir_r/1,   //圆的半径
per : canvas.getAttribute('data-percent'),   //百分比分子
color : cir_color,   //圆的颜色
 lineWidth : line_w   //圆的颜色
 }; 
 canvas.width=canvas.height=circle.r*2;
 canvas.style.borderRadius="50%";
 if(canvas.getContext){
 var ctx2 = canvas.getContext("2d");
 ctx2.fillStyle = fill_color;
 ctx2.arc(circle.r, circle.r, circle.r-circle.lineWidth/2, 0, Math.PI*2, false);
 ctx2.fill();
 var ctx = canvas.getContext("2d");
 pper_interal= setInterval(function () {
 drawMove(ctx,circle);
 }, 10);
 }
 }
 function drawMove(ctx,circle){
 if(pper>=circle.per){
 pper=circle.per;
 clearTimeout(pper_interal);
 }else{
 pper++;
 }
 dushu.innerText=pper+'%';
 ctx.beginPath();
 ctx.strokeStyle = circle.color; 
 ctx.lineWidth=circle.lineWidth; 
 ctx.arc(circle.r, circle.r, circle.r, 0, Math.PI*(pper/100)*360/180, false);
 ctx.stroke();
 }
</script>
</body>
</html>