<!DOCTYPE html>
<html class="" lang="zh-cmn-Hans"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="Baiduspider" content="noarchive">
    <meta name="format-detection" content="telephone=no">
    
    
    <meta http-equiv="cleartype" content="on">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>扫码充电</title>
    
    
    
  <link rel="stylesheet" onerror="_cdnFallback(this)" href="css/base.css" media="screen">
  <link rel="stylesheet" onerror="_cdnFallback(this)" href="css/coll.css" media="screen">





  </head>
  <body ontouchstart="ontouchstart" id="cate14">
    <div class="mainbg"><img src="images/bg.jpg "/></div>



<div class="mainm">

<div class="coupon-list-container"><div class="coupon-list-valid"><div class="coupon-list"><div><div class="coupon__empty"><div class="coupon__empty-btn">
        扫描二维码
      </div><div class="coupon__empty-image"></div><div class="coupon__empty-text">手动输入充电枪编码充电</div></div></div><div class="coupon-list__tip invalid-tip">
    充电枪编码位于二维码下方。</br>如有问题，请联系充电站详情中的客服电话。
    </div></div></div></div>

    </div>
    
 

</body></html>