<!DOCTYPE html>
<html class="" lang="zh-cmn-Hans"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="Baiduspider" content="noarchive">
    <meta name="format-detection" content="telephone=no">
    
    
    <meta http-equiv="cleartype" content="on">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>用户中心</title>

    
    
    
  <link rel="stylesheet" onerror="_cdnFallback(this)" href="css/base.css" media="screen">
  <link rel="stylesheet" onerror="_cdnFallback(this)" href="css/member.css" media="screen">

</head>
  <body ontouchstart="ontouchstart" class="body-fixed-bottom">

    
  <div class="container is-pc">
    <div><div class="usercenter" style="width: 375px;background-color: #f9f9f9;"><div class="member-center__user-info-wrapper" type="v-user-info"><div class="member-center__user-info avatar-at-top" style="background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)), url(&quot;images/ban.jpg&quot;); height: 172px;"><div class="user-info__avatar" style="width: 60px; height: 60px; margin-top: 55px;"><img src="images/logo.jpg" alt="avatar"></div><div class="user-info__info" style="margin-top: 6.88px;"><div class="user-info__username" style="color: rgb(51, 51, 51);">
        亚电集团
      </div></div><!----><!----></div><div class="user-info__bind-wrapper"><div class="user-info__bind"><button class="van-button van-button--primary van-button--small"><span class="van-button__text">扫码充电</span></button><div>
        输入编码
      </div></div></div></div><div class="member-center__stats" type="v-stats"><div class="member-center__stats-item"><div>197.00</div><div>余额</div></div><div class="member-center__stats-item"><div>3</div><div>优惠券</div></div><div class="member-center__stats-item"><div>1</div><div>卡</div></div><div class="member-center__stats-item"><div>31345</div><div>ID码</div></div></div><div class="plugin-list" type="v-widgets"><div class="classic-group-wrapper"><div><div class="classic-group"><div class="classic-group__item"><div class="van-cell van-cell--clickable"><i class="van-icon van-icon--image van-cell__left-icon"><img src="images/f9c1b3cb9e4f7ec7909e180ae2efbb6c.png"><!----></i>
        <div class="van-cell__title"><span>我的订单</span>
        </div>
        
        <i class="van-icon van-icon-arrow van-cell__right-icon"><!----><!----></i>
        </div></div></div></div><div><div><div class="classic-group__item-empty"><div class="classic-group__whitespace"></div></div></div></div><div><div class="classic-group"><div class="classic-group__item"><div class="van-cell van-cell--clickable"><i class="van-icon van-icon--image van-cell__left-icon"><img src="images/fba880e26352425d9819c0d7be1693ef.png"><!----></i>
        <div class="van-cell__title"><span>我的钱包</span>
        </div>
        
        <i class="van-icon van-icon-arrow van-cell__right-icon"><!----><!----></i>
        </div></div><div class="classic-group__item"><div class="van-cell van-cell--clickable"><i class="van-icon van-icon--image van-cell__left-icon"><img src="images/21b0d3f9656d61c4ac292c801382e71d.png"><!----></i>
        <div class="van-cell__title"><span>我的积分</span>
        </div>
        
        <i class="van-icon van-icon-arrow van-cell__right-icon"><!----><!----></i>
        </div></div><div class="classic-group__item"><div class="van-cell van-cell--clickable"><i class="van-icon van-icon--image van-cell__left-icon"><img src="images/d12a725fd93576ac0e51294f13df52f5.png"><!----></i>
        <div class="van-cell__title"><span>帐号设置</span>
        </div>
        
        <i class="van-icon van-icon-arrow van-cell__right-icon"><!----><!----></i>
        </div></div><div class="classic-group__item"><div class="van-cell van-cell--clickable"><i class="van-icon van-icon--image van-cell__left-icon"><img src="images/77b91dd266a2b452dc18a192ee709f0d.png"><!----></i>
        <div class="van-cell__title"><span>个人信息</span>
        </div>
        
        <i class="van-icon van-icon-arrow van-cell__right-icon"><!----><!----></i>
        </div></div><div class="classic-group__item"><div class="van-cell van-cell--clickable"><i class="van-icon van-icon--image van-cell__left-icon"><img src="images/3026a25897099ffbb1528052ac9c92fd.png"><!----></i>
        <div class="van-cell__title"><span>拨打充电站电话</span>
        </div>
        
        <i class="van-icon van-icon-arrow van-cell__right-icon"><!----><!----></i>
        </div></div></div></div></div><!----></div></div><!----><!----><!----><!----></div>
    
  </div>
  
    
  

    
    
  
    <div class="footer">
  <div class="copyright">

      <div class="ft-links">
          <a href="#" class="">主页</a>
          <a href="#" class="js-open-follow">充电站</a>
          <a href="#" class="">用户中心</a>
          <a href="javascript:;" class="">关注我们</a>
      </div>

      <div class="ft-copyright">
      </div>
    
  </div>
</div>


</body></html>