<!DOCTYPE html>
<html class="" lang="zh-cmn-Hans"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="Baiduspider" content="noarchive">
    <meta name="format-detection" content="telephone=no">
    
    
    <meta http-equiv="cleartype" content="on">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>个人信息</title>
	
	
  <link rel="stylesheet" onerror="_cdnFallback(this)" href="css/base.css" media="screen">
</head>
  <body ontouchstart="ontouchstart" class="">

    
    
  <div class="app-content"><!----><div class="u-setting__loading van-loading van-loading--circular van-loading" style="color: rgb(201, 201, 201); display: none;"><span class="van-loading__spinner van-loading__spinner--circular"><svg viewBox="25 25 50 50" class="van-loading__circular"><circle cx="50" cy="50" r="20" fill="none"></circle></svg></span></div><h2 class="block-header">基本信息</h2><div class="van-cell-group van-hairline--top-bottom"><div class="base-info-cell"><!----><!----><!----><!----><!----><div class="setting-image-cell"><div class="van-cell van-cell--clickable">
        <div class="van-cell__title"><span>头像</span>
        </div>
        <div class="van-cell__value"><div class="van-uploader"><div class="avatar-image-wrapper"><div class="avatar-image" style="background-image: url(&quot;images/logo.jpg&quot;); width: 30px; height: 30px;"></div><img src="images/logo.jpg"></div><input type="file" accept="image/*" disabled="disabled" class="van-uploader__input"></div>
        </div>
        <i class="van-icon van-icon-arrow van-cell__right-icon"><!----><!----></i>
        </div><!----></div><!----></div><div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell van-cell--clickable">
        <div class="van-cell__title"><span>姓名</span>
        </div>
        <div class="van-cell__value van-ellipsis"><span>请填写</span></div>
        <i class="van-icon van-icon-arrow van-cell__right-icon"><!----><!----></i>
        </div><!----></div></div><div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell">
        <div class="van-cell__title"><span>手机号</span>
        </div>
        <div class="van-cell__value van-ellipsis"><span>12345678901</span></div>
        
        </div><!----></div></div><div class="base-info-cell"><!----><!----><div><div class="van-cell van-cell--clickable">
        <div class="van-cell__title"><span>性别</span>
        </div>
        <div class="van-cell__value"><span>保密</span></div>
        <i class="van-icon van-icon-arrow van-cell__right-icon"><!----><!----></i>
        </div><!----></div><!----><!----><!----><!----></div><div class="base-info-cell"><div><div class="van-cell van-cell--clickable">
        <div class="van-cell__title"><span>生日</span>
        </div>
        <div class="van-cell__value van-ellipsis"><span>请填写</span></div>
        <i class="van-icon van-icon-arrow van-cell__right-icon"><!----><!----></i>
        </div><!----></div><!----><!----><!----><!----><!----><!----></div><div class="base-info-cell"><!----><!----><!----><!----><div><div class="van-cell van-cell--clickable" value="请选择">
        <div class="van-cell__title"><span>地区</span>
        </div>
        <div class="van-cell__value van-ellipsis"><span>请选择</span></div>
        <i class="van-icon van-icon-arrow van-cell__right-icon"><!----><!----></i>
        </div><!----></div><!----><!----></div><div class="base-info-cell"><!----><!----><!----><!----><!----><!----><div><div class="van-cell van-cell--clickable">
        <div class="van-cell__title"><span>微信号</span>
        </div>
        <div class="van-cell__value van-ellipsis"><span>请填写</span></div>
        <i class="van-icon van-icon-arrow van-cell__right-icon"><!----><!----></i>
        </div><!----></div></div><div class="base-info-cell"><!---->
          <div class="address-info-cell"></div>
          <!----><!----><!----><!----><!----></div></div><!----><!----></div>

    
    
    <div class="footer">
  <div class="copyright">

      <div class="ft-links">
          <a href="#" class="">主页</a>
          <a href="#" class="js-open-follow">充电站</a>
          <a href="#" class="">用户中心</a>
          <a href="javascript:;" class="">关注我们</a>
      </div>

      <div class="ft-copyright">
      </div>
    
  </div>
</div>

</body></html>