{% extends 'weixin/wx_base.html' %}{% load static %}

{% block extra %}
    <link rel="stylesheet"  href="{% static 'weixin/css/member.css' %}" >
    <style>
        .article {
            padding: 10px;
        }
        .article h2 {
            font-size: 24px;
            line-height: 36px;
            text-align: center;
        }
        .article .info {
                font-size: 14px;
                color: #666666;
            line-height: 2.0rem;
        }
        .article .bd {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 2.0rem;
        }
        .article .bd img {
            display: block;
            max-width:100%;
            margin-top: 0;
            margin-right: auto;
            margin-bottom: 0;
            margin-left: auto;
        }
        .block-header a{
            color:#999;
        }
    </style>
{% endblock extra %}
{% block title %}资讯详情{% endblock %}
{% block content %}
  <div class="container is-pc">
    <div class="usercenter">
    <h2 class="block-header"><a href="javascript:history.go(-1)">返回</a></h2>
      <div class="plugin-list">
          {% if article %}
        <div class="article">
            <h2>{{ article.title }}</h2>
            <div class="info">{{ article.add_time|date:'Y-m-d' }}</div>
            <div class="bd">
                {{ article.content|safe }}
            </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock content %}
{% block bottomjs %}

{% endblock bottomjs %}
