{% extends 'weixin/wx_base.html' %}{% load static %}

{% block extra %}
    <link rel="stylesheet"  href="{% static 'weixin/css/member.css' %}" >
    <style>

    </style>
{% endblock extra %}
{% block title %}信息资讯{% endblock %}
{% block content %}
  <div class="container is-pc">
    <div class="usercenter">
    <h2 class="block-header">信息资讯</h2>
      <div class="plugin-list">
        <div class="classic-group-wrapper">
          <div class="classic-group">
            {% for article in articles  %}
            <div class="classic-group__item">
              <a class="van-cell van-cell--clickable" href="{{ article.get_absolute_url }}">
                <i class="van-icon van-icon--image van-cell__left-icon"><img src="{% static 'weixin/images/f9c1b3cb9e4f7ec7909e180ae2efbb6c.png'%}"></i>
                <div class="van-cell__title"><span>{{ article.title }}</span></div>
                <i class="van-icon van-icon-arrow van-cell__right-icon"></i>
              </a>
            </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
{% block bottomjs %}

{% endblock bottomjs %}
