{% extends 'weixin/wx_base.html' %}{% load static %}
{% block js %}
{% include 'wxchat/include/jssdk.html' %}
    <script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=TOLBZ-NWYLP-A5SD6-VKAJC-UZLHQ-XKB7X&libraries=geometry"></script>
{% endblock js %}
{% block extra %}
    <link rel="stylesheet"  href="{% static 'jqueryconfirm/jquery-confirm.min.css' %}">
    <script src="{% static 'jqueryconfirm/jquery-confirm.min.js' %}"></script>
{% endblock extra %}
{% block title %}附近充电站{% endblock %}
{% block content %}
    {% if order %}
    <div class="block-header" style="display: flex; justify-content: space-between; align-items: center;">
        <div>充电中:</div>
        <div style="overflow: hidden; text-overflow: ellipsis;">{{order.out_trade_no}}</div>
        <a class="coupon-item__action1" href="{% url 'order-recharge-status' %}?out_trade_no={{ order.out_trade_no }}">查看</a>
    </div>
    <script>
     $.confirm({
        title: '充电提示：',
        content: '您有一个正在充电的订单，是否查看？',
        type: 'green',
        theme: 'material',
        buttons: {
            ok: {
                text: "确定",
                btnClass: 'btn-blue',
                keys: ['enter'],
                action: function(){
                     window.location.href = "{% url 'order-recharge-status' %}?out_trade_no={{ order.out_trade_no }}"
                }
            },
            cancel: {
                text: "取消",
                action: function(){
                     console.log('the user clicked cancel');
                }
            },
        }
    });
    </script>

    {% endif %}
    <div class="page">
         <div>
             <form action="#" id="form1">
                 <div class="van-search van-search--show-action" style="background: rgb(255, 255, 255);">
                     <div class="van-search__content van-search__content--square">
                         <div class="van-cell van-cell--borderless van-field">
                             <div class="van-field__left-icon"><i class="van-icon van-icon-search"><!----></i></div>
                             <div class="van-cell__value van-cell__value--alone">
                                 <div class="van-field__body"><input type="search" id="keyword" finished-text="没有更多了"  placeholder="请输入充电站名称或地点" class="van-field__control"></div>
                             </div>
                         </div>
                     </div>
                     <div class="van-search__action" id="btn_search"><div>搜索</div></div>
                 </div>
             </form>
              <div class="physicalstore_list van-list" id="stations">

              </div>
         </div>
     </div>
{% endblock content %}
{% block bottomjs %}
<script>
var latitude;
var longitude;
$(function () {
     $("#btn_search").click(function(){
        let keyword = $("#keyword").val();
        station_list(keyword);
     });
     $("#keyword").on('keypress',function(e){
            let keycode = e.keyCode;
            let keyword = $(this).val();
            if(keycode=='13'){
                e.preventDefault();
                station_list(keyword);
            }
     });


});
 wx.ready(function () {
    wx.getLocation({
        type: 'wgs84',
        success : function(res) {
            latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
            longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
            geocoder(latitude, longitude);
        },
        cancel : function(res) {
            var city = "北京";
            station_list(city);
        },
		fail : function(res) {
			var city = "北京";
            station_list(city);
        },
		complete: function(res){
		}
    });

});

function geocoder(latitude,longitude) {
    var ll=latitude+","+longitude;

    $.ajax({
        type: 'get',
        url: 'https://apis.map.qq.com/ws/geocoder/v1/',
        dataType: 'jsonp',
        data : {
            key:"TOLBZ-NWYLP-A5SD6-VKAJC-UZLHQ-XKB7X",  //开发密钥
            location:ll,
            get_poi:"1",//是否返回周边POI列表：1.返回；0不返回(默认)
            output:"jsonp"
        },
        success: function(data, textStatus){
            if(data.status == 0){
                var city = data.result.address_component.city;
                station_list(city);
            }else {
                alert("系统错误，请联系客服！")
            }
        },
        error: function(err){
            alert("系统错误，请联系客服！");
        }
    });
 }
 
 function station_list(city) {
    $("#stations").empty();
    var start = new qq.maps.LatLng(latitude, longitude);
    {#var start = new qq.maps.LatLng(39.915, 116.404);#}
     $.ajax({
          type: 'GET',
          url: "{% url 'station-list' %}",
          dataType: 'json',
          data: {city: city},
          timeout: 5000,
          success: function(data){
              const stations = data.map((item)=>{
                  let end = new qq.maps.LatLng(item.latitude, item.longitude);
                  let distance = getDistance(start, end);
                  item["distance"] = distance;
                  item["dist_format"] = disFormat(distance);
                  return item;
              });
              stations.sort(function (a, b) {
                  return a.distance - b.distance ;
              });

              $.each(stations, function (index, item) {
                  let templateStr = `<div class="store">
                                            <div class="store__header">${item.name}<p>${item.dist_format}</p></div>
                                            <div class="store__info">
                                                <div class="store__thumb"><img src="${item.image_url}"></div>
                                                <a href="${item.get_absolute_url}" class="store__detail">
                                                    <h3 class="store__detail__address">${item.detail_address}</h3>
                                                    <p class="store__detail__time">空闲充电枪 ${item.gun_stats}</p>
                                                 </a>
                                                 <a href="javascript:void(0)" class="store__phone" data-longitude="${item.longitude}"  data-latitude="${item.latitude}"  data-name="${item.name}" data-address="${item.address}"><i class="van-icon van-icon-map-marked"></i></a>
                                            </div>
                                       </div>`;
                  $("#stations").append( templateStr );
              });
              let tailHtml = '<div class="van-list__finished-text">没有更多了</div>';
              $("#stations").append(tailHtml);

              $(".store__phone").on('click',function(){
                    var longitude = $(this).attr("data-longitude");
                    var latitude = $(this).attr("data-latitude");
                    var name = $(this).attr("data-name");
                    var address = $(this).attr("data-address");
                    console.log(longitude, latitude, name , address);
                     wx.openLocation({
                        latitude: latitude,
                        longitude: longitude,
                          name: name,
                          address: address,
                          scale: 13,
                          infoUrl: ''
                    });
                });

          },
          error: function(xhr, type,error){}
     });
 }
 function getDistance(start, end) {
     var distance = qq.maps.geometry.spherical.computeDistanceBetween(start, end);
     return distance
 }
 function disFormat(distance) {
     if(distance<1000){
         return distance.toFixed(2) + 'm'
     }else{
         return (distance/1000).toFixed(2) + 'km'
     }
 }

</script>
{% endblock bottomjs %}