{% extends 'weixin/wx_base.html' %}{% load static %}
{% block js %}
{% include 'wxchat/include/jssdk.html' %}
    <script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=TOLBZ-NWYLP-A5SD6-VKAJC-UZLHQ-XKB7X"></script>
{% endblock js %}
{% block title %}附近充电站{% endblock %}
{% block content %}
    <div class="page">
         <div>
             <form action="#">
                 <div class="van-search van-search--show-action" style="background: rgb(255, 255, 255);">
                     <div class="van-search__content van-search__content--square">
                         <div class="van-cell van-cell--borderless van-field">
                             <div class="van-field__left-icon"><i class="van-icon van-icon-search"><!----></i></div>
                             <div class="van-cell__value van-cell__value--alone">
                                 <div class="van-field__body"><input type="search" finished-text="没有更多了" placeholder="请输入充电站名称或地点" class="van-field__control"></div>
                             </div>
                         </div>
                     </div>
                     <div class="van-search__action"><div>搜索</div></div>
                 </div>
             </form>
              <div class="physicalstore_list van-list">
                  {% for station in stations %}
                  <div class="store">
                      <div class="store__header">{{ station.name }}<p>0km</p></div>
                      <div class="store__info">
                          <div class="store__thumb">
                          {% if station.stationimage_set.count > 0 %}
                              <img src="{{ station.stationimage_set.first.image.url }}" alt="">
                          {% endif %}
                          </div>
                          <a href="{% url 'station-detail' station.id %}" class="store__detail">
                              <h3 class="store__detail__address">{{ station.address }}</h3>
                              <p class="store__detail__time">空闲充电枪 {{ station.get_gun_totals }}</p><!---->
                          </a>
                          <a href="javascript:void(0)" class="store__phone" data-longitude="{{ station.longitude }}"  data-latitude="{{ station.latitude }}"  data-name="{{ station.name }}" data-address="{{ station.address }}"><i class="van-icon van-icon-map-marked"><!----></i></a>
                      </div>
                  </div>
                  {% endfor %}
                  <div class="van-list__finished-text">没有更多了</div>
              </div>
         </div>
     </div>
{% endblock content %}
{% block bottomjs %}
<script>
 wx.ready(function () {
    wx.getLocation({
        type: 'wgs84',
        success : function(res) {
            var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
            var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
            var accuracy = res.accuracy; // 位置精度
            alert(latitude);
            alert(longitude);
            geocoder(latitude, longitude);
        },
        cancel : function(res) {
            alert("未能获取地理位置");
        }
    });

    $(".store__phone").on('click',function(){

        var longitude = $(this).attr("data-longitude");
        var latitude = $(this).attr("data-latitude");
        var name = $(this).attr("data-name");
        var address = $(this).attr("data-address");
        console.log(longitude, latitude, name , address);
         wx.openLocation({
            latitude: latitude,
            longitude: longitude,
              name: name,
              address: address,
              scale: 13,
              infoUrl: ''
        });
    });
});

function geocoder(latitude,longitude) {
    var ll=latitude+","+longitude;
    $.ajax({
        type: 'get',
        url: 'https://apis.map.qq.com/ws/geocoder/v1/',
        dataType: 'json',
        data : {
            key:"TOLBZ-NWYLP-A5SD6-VKAJC-UZLHQ-XKB7X",  //开发密钥
            location:ll,
            //位置坐标
            get_poi:"1",//是否返回周边POI列表：1.返回；0不返回(默认)
            coord_type:"1",//输入的locations的坐标类型,1 GPS坐标
            parameter:{"scene_type":"tohome","poi_num":20},//附加控制功能
            output:"json"
        },
        success: function(data, textStatus) {
            if(data.status == 0){
                var address = data.result.address;
                var city = data.result.address_component.city;
                 alert(address)
                alert(city)
            }else {
                alert("系统错误，请联系客服！")
            }
        },
        error: function(){
            alert("系统错误，请联系客服！")
        }
    });
 }
</script>
{% endblock bottomjs %}