{% extends 'weixin/wx_base.html' %}{% load static %}
{% block js %}
{% include 'wxchat/include/jssdk.html' %}
{% endblock js %}
{% block extra %}
    <link href="{% static 'materialize/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen"/>
    <link href="{% static 'materialize/css/googlefonticon.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet"  href="{% static 'weixin/css/list.css' %}" media="screen">
    <style>
    a{
        color: #333;
    }
    </style>
{% endblock extra%}
{% block title %}附属账户{% endblock %}
{% block content %}
   <div style="buttom: 30px; right: 19px;" class="fixed-action-btn direction-top">
       <a class="btn-floating btn-large red gradient-shadow" id="add_btn"><i class="material-icons">add</i></a>
    </div>
   <div class="page-content" style="min-height: 812px; min-height: 100vh;">
      <div class="list van-list">
        <div class="list-item">
          <div class="list-item__header" type="list-item-header"><a href="{% url 'wxchat-show-qrcode' %}">我的二维码</a><a id="add_sub_btn" class="list-item__header__state" href="javascript:void(0);">添加附属用户</a></div>
          <div class="list-item__order-list" type="order-list">
            {% for account in sub_accounts %}
            <div class="cap-order-item">
              <div class="cap-order-item__body">
                <div class="van-card">
                  <div class="van-card__header">
                    <a class="van-card__thumb"><img src="{{ account.sub_user.headimgurl }}" class="van-card__img"></a>
                    <div class="van-card__content">
                      <div class="van-card__title">{{ account.sub_user.name|default:account.sub_user.nickname }}　<span>[<a href="{% url 'wxchat-update-user' %}?user_id={{ account.sub_user.id }}">修改备注</a>]</span></div>
                      <div></div>
                      <div class="van-card__bottom">
                        <div class="van-card__price">{{ account.sub_user.telephone }}</div>
                        <div class="van-card__num">
                          <a data-item="{{ account.id }}" class="van-tag" style="background-color: rgb(255, 68, 68);" href="javascript:void(0);" id="del_btn_{{ account.id }}">移除</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cap-order-item__footer">
                <div class="cap-order-item__total-price1">共{{ account.account_totals.counts }}笔订单</div>
                <div class="cap-order-item__total-price">合计:<span>¥{{ account.account_totals.amounts|default:0.00 }}</span></div>
              </div>
            </div>
           {% endfor %}
          </div>
        </div>
      </div>
    <div class="no-more-tip">
      没有更多订单啦
    </div>
  </div>

{% endblock content %}
{% block bottomjs %}
    <script src="{% static 'materialize/js/materialize.min.js' %}"></script>
    <script>
    $(function () {
        {#$('.modal').modal();#}

        $("a[id^='del_btn']").click(function () {
            var r=confirm("真的要删除吗？");
            var account_id = $(this).attr("data-item");
            if(r==true){
                var params ={
                  account_id: account_id,
                  csrfmiddlewaretoken:'{{ csrf_token }}',
                }
                $.ajax({
                      type: 'POST',
                      url: '{% url "wxchat-del-account" %}',
                      dataType: 'json',
                      data: params,
                      timeout: 5000,
                      success: function(data){
                        if(data.success=="true") {
                            window.location.reload();
                        }else{
                            M.toast({html: '删除失败!'});
                        }
                      },
                      error: function(error){
                          M.toast({html: '删除失败!!'});
                      }
                });
            }
            else{
            }
        })
    });
    wx.ready(function () {
        $("#add_btn, #add_sub_btn").click(function () {
            var r=confirm("扫码附属账户的二维码，完成账户的添加");
            if(r == true){
                wx.scanQRCode({
                        needResult: 1,
                        scanType: ["qrCode","barCode"],
                        success: function (res) {
                            var openid = res.resultStr;
                            var params ={
                              openid: openid,
                              csrfmiddlewaretoken:'{{ csrf_token }}',
                            };
                            $.ajax({
                                  type: 'POST',
                                  url: '{% url "wxchat-sub-account" %}',
                                  dataType: 'json',
                                  data: params,
                                  timeout: 5000,
                                  success: function(data){
                                    if(data.success == "true") {
                                        window.location.reload();
                                    }else{
                                        M.toast({html: '添加失败!'});
                                    }
                                  },
                                  error: function(error){
                                      M.toast({html: '添加失败!!'});
                                  }
                            });
                        },
                      error:function(res){

                      }
                });
            }
        });
    });
    </script>
{% endblock bottomjs %}
