{% load static %}<!DOCTYPE html>
<html class="" lang="zh-cmn-Hans">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="Baiduspider" content="noarchive">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="keywords" content="亚电电气充电桩">
    <meta name="description" content="亚电电气充电桩系统">
    <title>{% block title %}亚电电气充电桩系统{% endblock %}</title>
    <script type="text/javascript" src="{% static 'weixin/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fastclick.js' %}"></script>
    {% block css %}
    <link rel="stylesheet"  href="{% static 'weixin/css/base.css' %}" media="screen">
    {% endblock css %}
    {% block js %}
    {% endblock js %}
    {% block extra %}{% endblock extra%}
  </head>
  <body ontouchstart="ontouchstart" {% block body_class %}class="" {% endblock %}>
    {% block content %}

    {% endblock content %}
    {% block footer %}
     {% include "weixin/include/footer.html" %}
    {% endblock footer %}

  {% block bottomjs %}{% endblock bottomjs %}
</body>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>
</html>