{% extends 'weixin/wx_base.html' %}{% load static %}
{% block js %}
{% include 'wxchat/include/jssdk.html' %}
    <script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=TOLBZ-NWYLP-A5SD6-VKAJC-UZLHQ-XKB7X&libraries=geometry"></script>
{% endblock js %}
{% block extra %}
    <link rel="stylesheet"  href="{% static 'weixin/css/member.css' %}" media="screen">
    <style>
    .usercenter{
        width: 100%;
        background-color: #f9f9f9;
    }
    .top_image{
        background-image: linear-gradient(rgba(255, 255, 255, 0),
        rgb(255, 255, 255)),
        url("{% static 'weixin/images/ban.jpg'%}");
        height: 172px;
    }
    .user-info__avatar{
        width: 60px;
        height: 60px;
        margin-top: 55px;
    }
    </style>
{% endblock extra %}
{% block title %}用户中心{% endblock %}
{% block body_class %}class="body-fixed-bottom" {% endblock %}
{% block content %}
  <div class="container is-pc">
    <div class="usercenter">
      <div class="member-center__user-info-wrapper" type="v-user-info">
        <div class="member-center__user-info avatar-at-top top_image">
          <div class="user-info__avatar" >
            {% if request.session.headimgurl%}
            <img  src="{{ request.session.headimgurl }}"  alt="avatar">
            {% else %}
            <img src="{% static 'weixin/images/logo.jpg' %}" alt="avatar">
            {% endif %}
          </div>
          <div class="user-info__info" style="margin-top: 6.88px;">
            <div class="user-info__username" style="color: rgb(51, 51, 51);">
            {% if request.session.username %}
                 <span>{{ request.session.username|default:'' }}</span>
            {% else %}
                <span>{{ request.session.nickname|default:'' }}</span>
            {% endif %}
            </div>
          </div>
        </div>
        <div class="user-info__bind-wrapper">
          <div class="user-info__bind">
            <button class="van-button van-button--primary van-button--small" id="recharge"><span class="van-button__text">扫码充电</span></button>
{#            <div>输入编码</div>#}
          </div>
        </div>
      </div>
      <div class="member-center__stats" type="v-stats">
        {% if user %}
        <div class="member-center__stats-item">
          <div>{{ user.account_balance }}</div><div>余额</div>
        </div>
        <div class="member-center__stats-item">
          <div>0</div><div>优惠券</div>
        </div>
        <div class="member-center__stats-item">
          <div>0</div><div>卡</div>
        </div>
        <div class="member-center__stats-item">
          <div>{{ user.id }}</div><div>ID码</div>
        </div>
        {% endif %}
      </div>
      <div class="plugin-list" type="v-widgets">
        <div class="classic-group-wrapper">
          <div class="classic-group">
            <div class="classic-group__item">
              <a class="van-cell van-cell--clickable">
                <i class="van-icon van-icon--image van-cell__left-icon"><img src="{% static 'weixin/images/f9c1b3cb9e4f7ec7909e180ae2efbb6c.png'%}"></i>
                <div class="van-cell__title"><span>我的订单</span></div>
                <i class="van-icon van-icon-arrow van-cell__right-icon"></i>
              </a>
            </div>
          </div>
          <div class="classic-group__item-empty">
            <div class="classic-group__whitespace"></div>
          </div>
          <div class="classic-group">
            <div class="classic-group__item">
              <div class="van-cell van-cell--clickable">
                <i class="van-icon van-icon--image van-cell__left-icon"><img src="{% static '/weixin/images/fba880e26352425d9819c0d7be1693ef.png' %}"></i>
                <div class="van-cell__title"><span>我的钱包</span></div>
                <i class="van-icon van-icon-arrow van-cell__right-icon"></i>
              </div>
            </div>
            <div class="classic-group__item">
              <div class="van-cell van-cell--clickable">
                <i class="van-icon van-icon--image van-cell__left-icon"><img src="{% static 'weixin/images/21b0d3f9656d61c4ac292c801382e71d.png' %}"></i>
                <div class="van-cell__title"><span>我的积分</span></div>
                <i class="van-icon van-icon-arrow van-cell__right-icon"></i>
              </div>
            </div>
            <div class="classic-group__item">
              <div class="van-cell van-cell--clickable">
                <i class="van-icon van-icon--image van-cell__left-icon"><img src="{% static 'weixin/images/d12a725fd93576ac0e51294f13df52f5.png' %}"></i>
                <div class="van-cell__title"><span>帐号设置</span></div>
                <i class="van-icon van-icon-arrow van-cell__right-icon"></i>
              </div>
            </div>
            <div class="classic-group__item">
              <div class="van-cell van-cell--clickable">
                <i class="van-icon van-icon--image van-cell__left-icon"><img src="{% static 'weixin/images/77b91dd266a2b452dc18a192ee709f0d.png' %}"></i>
                <div class="van-cell__title"><span>个人信息</span></div>
                <i class="van-icon van-icon-arrow van-cell__right-icon"></i>
              </div>
            </div>
            <div class="classic-group__item">
              <div class="van-cell van-cell--clickable">
                <i class="van-icon van-icon--image van-cell__left-icon"><img src="{% static 'weixin/images/3026a25897099ffbb1528052ac9c92fd.png' %}"></i>
                <div class="van-cell__title"><span>拨打充电站电话</span></div>
                <i class="van-icon van-icon-arrow van-cell__right-icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
{% block bottomjs %}
<script>
  $('#recharge').on('click',function(){
        wx.scanQRCode({
                needResult: 0,
                scanType: ["qrCode","barCode"],
                success: function (res) {
                    var result = res.resultStr;
                    console.log(result);
                }
        });
    });
</script>

{% endblock bottomjs %}
